Repository seahal/umaxica-app-edge: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      run: pnpm run format
      stage_fixed: true
      glob: '*.{js,jsx,ts,tsx,json,jsonc,yaml,yml,toml,md,mdx,css,scss,graphql}'
    lint:
      run: pnpm run lint
      stage_fixed: true
      glob: '*.{js,jsx,ts,tsx}'
    typecheck:
      run: pnpm run typecheck
      glob: '*.{ts,tsx}'
    audit:
      run: pnpm audit
      skip:
        - merge
        - rebase
    #    secret-scan:
    #      run: gitleaks protect
    test:
      run: pnpm test

[UPDATE] Drop two dead things from the apex workers.
  app/apex/src/index.tsx
  app/apex/src/root-redirect.ts
  app/apex/test/root-redirect.test.ts
  app/apex/wrangler.jsonc
  com/apex/src/index.tsx
  com/apex/src/root-redirect.ts
  com/apex/test/root-redirect.test.ts
  com/apex/wrangler.jsonc
  net/apex/wrangler.jsonc
  org/apex/src/index.tsx
  org/apex/src/root-redirect.ts
  org/apex/test/root-redirect.test.ts
  org/apex/wrangler.jsonc
Due: format, lint, typecheck

[UPDATE] Record the apex build and redirect-ownership decisions.
  .cspell/project-words.txt
  AGENTS.md
  adr/002-dev-apex-vercel.md
  adr/012-apex-vite-build-and-static-assets.md
  docs/operations/connectivity-acceptance.md
  docs/operations/net-www-canonicalisation.md
  scripts/check-www-canonical
Due: format

[UPDATE] Say plainly that vite build is the production build.
  AGENTS.md
  adr/012-apex-vite-build-and-static-assets.md
Due: format

[UPDATE] pnpm up --latest, migrate to @hono/structured-logger v1
  app/apex/package.json
  app/apex/src/structured-logger.ts
  app/core/package.json
  com/apex/package.json
  com/apex/src/structured-logger.ts
  com/core/package.json
  dev/acme/package.json
  net/apex/package.json
  net/apex/src/structured-logger.ts
  org/apex/package.json
  org/apex/src/structured-logger.ts
  org/core/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint, typecheck

[ADD] device-grant Wrangler login, and pin the vpc-probe destination
  docs/development/credential-and-secret-management.md
  docs/development/development-environment-overview.md
  docs/development/wrangler-authentication.md
  test/rails-connection-invariants.test.ts
Due: format, lint, typecheck

[ADD] check:vpc identity gate: prove which Rails namespace answered
  test/rails-connection-invariants.test.ts
  test/verify-edge-connectivity.test.ts
  tools/verify-edge-connectivity.mjs
  tools/vpc-probe/probe.mjs
Due: format, lint, typecheck

[FIX] keep builds off Cloudflare, and stop the disabled binding from shadowing local Rails
  app/core/next.config.ts
  app/core/src/lib/rails-client.ts
  app/docs/next.config.ts
  app/docs/src/lib/rails-client.ts
  app/help/next.config.ts
  app/help/src/lib/rails-client.ts
  app/info/next.config.ts
  app/info/src/lib/rails-client.ts
  app/news/next.config.ts
  app/news/src/lib/rails-client.ts
  com/core/next.config.ts
  com/core/src/lib/rails-client.ts
  com/docs/next.config.ts
  com/docs/src/lib/rails-client.ts
  com/help/next.config.ts
  com/help/src/lib/rails-client.ts
  com/info/next.config.ts
  com/info/src/lib/rails-client.ts
  com/news/next.config.ts
  com/news/src/lib/rails-client.ts
  org/core/next.config.ts
  org/core/src/lib/rails-client.ts
  org/docs/next.config.ts
  org/docs/src/lib/rails-client.ts
  org/help/next.config.ts
  org/help/src/lib/rails-client.ts
  org/info/next.config.ts
  org/info/src/lib/rails-client.ts
  org/news/next.config.ts
  org/news/src/lib/rails-client.ts
Due: format, lint, typecheck

[FIX] generate cloudflare-env.d.ts before building the three core frames
  app/core/package.json
  com/core/package.json
  org/core/package.json
Due: format

[FIX] add three devcontainer publisher names to the cspell dictionary
  .cspell/project-words.txt
Due: none

[FIX] give dev/apex and net/apex the same coverage floor as the other three
  dev/apex/vitest.config.ts
  net/apex/vitest.config.ts
Due: format, lint, typecheck

[UPDATE] bump three catalog entries and cut overrides from seven to two
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

[FIX] tell caches the theme and language cookies changed the document
  app/apex/api/theme.hurl
  app/apex/src/create-apex-app.ts
  app/apex/test/vary-negotiation.test.ts
  com/apex/api/theme.hurl
  com/apex/src/create-apex-app.ts
  com/apex/test/vary-negotiation.test.ts
  dev/apex/api/theme.hurl
  dev/apex/src/create-apex-app.ts
  dev/apex/test/vary-negotiation.test.ts
  docs/design/ui-shell-contract.md
  net/apex/api/theme.hurl
  net/apex/src/create-apex-app.ts
  net/apex/test/vary-negotiation.test.ts
  org/apex/api/theme.hurl
  org/apex/src/create-apex-app.ts
  org/apex/test/vary-negotiation.test.ts
Due: format, lint, typecheck

[UPDATE] set up budy pages.
  README.md
  adr/006-development-workers-vpc-transport.md
  all/busy/public/404.html
  all/busy/public/favicon.svg
  all/busy/public/index.html
  all/busy/src/index.js
  all/busy/wrangler.jsonc
  docs/operations/cloudflare-tunnel-development.md
  package.json
Due: format, lint

[UPDATE] set up budy pages..
  all/busy/wrangler.jsonc
Due: format

[UPDATE] daily update.
  .devcontainer/devcontainer.json
  README.md
  adr/008-edge-development-tunnel-exposure.md
  adr/014-edge-owned-development-tunnel.md
  all/busy/public/404.html
  all/busy/public/index.html
  all/busy/src/index.js
  all/busy/wrangler.jsonc
  compose.custom.yaml
  docs/development/cloudflare-development-network.md
  docs/development/devcontainer-cli-podman-startup.md
  docs/development/development-environment-overview.md
  docs/operations/cloudflare-tunnel-development.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/dev-start
  test/compose-tunnel-invariants.test.ts
  test/development-container-security.test.ts
Due: format, lint, typecheck

[UPDATE] daily update..
  pnpm-lock.yaml
Due: format

[REMOVE] drop grok-build devcontainer feature.
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  Containerfile
Due: format

[update] ..
  .github/workflows/integration.yaml
  all/busy/src/index.js
  docs/development/static-analysis-and-hygiene.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

[update] modified custom yaml
  compose.custom.yaml
Due: format

[UPDATE] misc.
  .devcontainer/compose.override.yml
  .devcontainer/devcontainer.json
  .devcontainer/prune-stale-containers.sh
  .worktreeinclude
  README.md
  compose.custom.yaml
  compose.rails.yaml
  compose.yaml
  docs/development/credential-and-secret-management.md
  docs/development/devcontainer-cli-podman-startup.md
  docs/development/development-environment-overview.md
  docs/development/wrangler-authentication.md
  docs/operations/cloudflare-tunnel-development.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-rails
  scripts/dev-start
  scripts/dev-stop
  test/compose-tunnel-invariants.test.ts
  test/development-container-security.test.ts
Due: format, lint, typecheck

[UPDATE] You can use env on alternative machine.
  .containerignore
  .devcontainer/devcontainer.json
  .dockerignore
  compose.custom.yaml
  test/compose-tunnel-invariants.test.ts
Due: format, lint, typecheck

[CheckPoint] .
  .cspell/project-words.txt
  adr/012-apex-vite-build-and-static-assets.md
  docs/design/ui-shell-contract.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

[UPDATE] daily upate.
  .cspell/project-words.txt
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/remote-access-preflight.sh
  .devcontainer/remote-sshd-entrypoint.sh
  .devcontainer/remote-sshd_config
  .devcontainer/tailscale-serve.json
  AGENTS.md
  Containerfile
  DESIGN.md
  README.md
  compose.remote-access.yaml
  docs/development/container-security-policy.md
  docs/development/development-environment-overview.md
  docs/development/edge-development-container.md
  docs/development/tailscale-development-container.md
  docs/development/tailscale-remote-ssh.md
  package.json
  plans/codex-podman-cozy-comet.md
  plans/pnpm-12-containerfile-linked-moore.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-tailscale-phase1
  scripts/dev-start
  test/development-container-security.test.ts
  test/package-manager-invariants.test.ts
Due: format, lint, typecheck

[UPDATE] daily upate...
  .cspell/project-words.txt
  .devcontainer/devcontainer.json
  .devcontainer/remote-sshd-entrypoint.sh
  AGENTS.md
  DESIGN.md
  compose.remote-access.yaml
  docs/development/tailscale-remote-ssh.md
  test/compose-tunnel-invariants.test.ts
  test/development-container-security.test.ts
Due: format, lint, typecheck

[UPDATE] .
  pnpm-lock.yaml
Due: format

[UPDATE] set up tailscale.
  .devcontainer/remote-access-preflight.sh
  .devcontainer/remote-sshd-entrypoint.sh
  .devcontainer/remote-sshd_config
  .devcontainer/tailscale-serve.json
  .devcontainer/tailscale-wrapper.sh
  Containerfile
  compose.remote-access.yaml
  docs/development/tailscale-remote-ssh.md
  package.json
Due: format

[UPDATE] join the Global tunnel connector network and allow the us.* hosts.
  app/core/vite.config.ts
  com/core/vite.config.ts
  compose.yaml
  org/core/vite.config.ts
Due: format, lint, typecheck

[UPDATE] add nohup to the project dictionary.
  .cspell/project-words.txt
Due: none

[UPDATE] move tailscaled into core and drop the sidecar.
  docs/development/container-security-policy.md
  docs/development/edge-development-container.md
  docs/development/tailscale-remote-ssh.md
  scripts/dev-start
  test/development-container-security.test.ts
Due: format, lint, typecheck

[UPDATE] call depcruise directly instead of through pnpm exec.
  test/dependency-architecture-invariants.test.ts
Due: format, lint, typecheck

[UPDATE] bump the toolchain catalog to the current releases.
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

[UPDATE] rename apex workers to umaxica-apps-edge-{tld}-apex.
  app/apex/package.json
  app/apex/wrangler.jsonc
  com/apex/package.json
  com/apex/wrangler.jsonc
  dev/apex/package.json
  dev/apex/wrangler.jsonc
  docs/operations/connectivity-acceptance.md
  net/apex/package.json
  net/apex/wrangler.jsonc
  org/apex/package.json
  org/apex/wrangler.jsonc
Due: format
