Repository seahal/umaxica-app-edge: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      run: bun run format
      stage_fixed: true
      glob: "*.{js,jsx,ts,tsx,json,md}"
    lint:
      run: bun run lint
      stage_fixed: true
      glob: "*.{js,jsx,ts,tsx}"
    typecheck:
      run:  bun run type
      glob: "*.{ts,tsx}"
    audit:
      run: bun audit
      skip:
        - merge
        - rebase
    secret-scan:
      run: gitleaks protect
    Test(Bun):
      run: bun test

Update user configuration in docker-compose and added a lot of tests.
  .devcontainer/compose.override.yml
  .devcontainer/devcontainer.json
  Dockerfile
  app/test-setup.ts
  app/test/components/AuthForm.test.tsx
  app/test/components/ErrorPage.test.tsx
  app/test/components/Header.test.tsx
  app/test/components/NewPostDialog.test.tsx
  app/test/components/PostCard.test.tsx
  app/test/components/SearchResults.test.tsx
  app/test/components/SettingComponents.test.tsx
  app/test/components/Timeline.test.tsx
  app/test/entry.client.test.tsx
  app/test/entry.server.test.tsx
  app/test/route.loaders.test.ts
  app/test/routes/catch-all.test.tsx
  app/test/routes/error-pages.test.tsx
  app/test/welcome.test.tsx
  bun.lock
  compose.yml
  package.json
Due: format, lint, typecheck

Add 'outdated' job to integration workflow for Bun dependency management
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/integration.yaml
Due: none

Remove Node.js setup from integration workflow jobs
  .github/workflows/integration.yaml
Due: none

Refactor test files for improved readability and consistency
  .devcontainer/devcontainer.json
  app/test-setup.ts
  app/test/components/AuthForm.test.tsx
  app/test/components/ErrorPage.test.tsx
  app/test/components/Header.test.tsx
  app/test/components/NewPostDialog.test.tsx
  app/test/components/PostCard.test.tsx
  app/test/components/SearchResults.test.tsx
  app/test/components/SettingComponents.test.tsx
  app/test/components/Timeline.test.tsx
Due: format, lint, typecheck

[update] changed fivocon.ico files.
  app/public/favicon.ico
  com/public/favicon.ico
  dev/public/favicon.ico
  org/public/favicon.ico
Due: none

[update] added tests.
  app/src/utils/string.ts
  app/test/utils/string.test.ts
  com/test/smoke.test.ts
  org/src/utils/date.ts
  org/test/utils/date.test.ts
Due: format, lint, typecheck

[update] ..
  com/test/entry.client.test.ts
  com/test/entry.server.test.ts
  com/test/module-imports.test.ts
  dev/test/components/DocsViewer.test.ts
  dev/test/components/DocsViewer.test.tsx
  dev/test/components/Footer.test.tsx
  dev/test/components/Header.test.tsx
  dev/test/entry.client.test.tsx
  dev/test/entry.server.test.tsx
  dev/test/layouts/baremetal.test.tsx
  dev/test/layouts/decorated.test.tsx
  dev/test/root.layout.test.tsx
  dev/test/routes/health-status.test.tsx
  dev/test/routes/home.test.tsx
  org/test/entry.client.test.ts
  org/test/entry.server.test.ts
  org/test/module-imports.test.ts
Due: format, lint, typecheck

[update] ...
  app/src/components/Footer.tsx
  app/test/components/Footer.test.tsx
  app/test/module-imports.test.ts
  app/wrangler.jsonc
  bun.lock
  com/wrangler.jsonc
  org/wrangler.jsonc
  package.json
Due: format, lint, typecheck

[update] ....
  app/src/components/Footer.tsx
  app/test/module-imports.test.ts
  com/test/entry.client.test.ts
  com/test/entry.server.test.ts
  com/test/module-imports.test.ts
  dev/test/components/Header.test.tsx
  dev/test/entry.client.test.tsx
  dev/test/entry.server.test.tsx
  dev/test/layouts/baremetal.test.tsx
  dev/test/root.layout.test.tsx
  dev/test/routes/health-status.test.tsx
  dev/test/routes/home.test.tsx
  org/test/entry.client.test.ts
  org/test/entry.server.test.ts
  org/test/module-imports.test.ts
Due: format, lint, typecheck

[update] fixed some tests...........
  .github/workflows/integration.yaml
  bun.lock
  com/test-setup.ts
  com/test/components/ErrorPage.test.tsx
  com/test/components/Footer.test.tsx
  com/test/components/ProductCatalog.logic.test.ts
  com/test/components/ProductCatalog.test.ts
  com/test/routes/catch-all.test.tsx
  com/test/routes/configure.test.tsx
  com/test/routes/health-status.test.tsx
  docs/ui.md
  org/test-setup.ts
  org/test/components/ErrorPage.test.tsx
  org/test/components/EventList.test.ts
  org/test/components/EventList.test.tsx
  org/test/components/Footer.test.tsx
  org/test/components/Header.test.tsx
  org/test/routes/_index.test.tsx
  org/test/routes/catch-all.test.tsx
  org/test/routes/configure.test.tsx
  org/test/routes/health-status.test.tsx
  org/test/routes/sample.test.tsx
  package.json
Due: format, lint, typecheck

[update] .
  GEMINI.md
  qodana.yaml
  worker-configuration.d.ts
Due: format, lint, typecheck

[upgrade] now we could use middleware!
  .devcontainer/compose.override.yml
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
  app/react-router.config.ts
  app/src/context.ts
  app/src/entry.server.tsx
  app/src/root.tsx
  app/src/routes/_index.tsx
  app/src/routes/authentication/_index.tsx
  app/src/routes/configurations/_index.tsx
  app/src/routes/explore/_index.tsx
  app/src/routes/healths/_index.tsx
  app/src/routes/messages/_index.tsx
  app/src/routes/notifications/_index.tsx
  app/workers/app.ts
  bun.lock
  com/react-router.config.ts
  com/src/context.ts
  com/src/entry.server.tsx
  com/src/root.tsx
  com/src/routes/_index.tsx
  com/src/routes/configure.tsx
  com/src/routes/healths/_index.tsx
  com/workers/app.ts
  dependabot.yml
  dev/react-router.config.ts
  dev/src/context.ts
  dev/src/entry.server.tsx
  dev/src/root.tsx
  org/react-router.config.ts
  org/src/context.ts
  org/src/entry.server.tsx
  org/src/root.tsx
  org/workers/app.ts
  package.json
Due: format, lint, typecheck

[upgrade] refreshded rolldown setting.
  .devcontainer/devcontainer.json
  app/vite.config.ts
  bun.lock
  com/vite.config.ts
  dev/vite.config.ts
  org/vite.config.ts
  package.json
Due: format, lint, typecheck

[degrade] remove /about pages from every workers.
  app/src/components/ErrorPage.tsx
  app/src/components/Footer.tsx
  app/test/components/ErrorPage.test.tsx
  app/test/components/Footer.test.tsx
  com/src/components/ErrorPage.tsx
  com/src/components/Footer.tsx
  com/test/components/ErrorPage.test.tsx
  com/test/components/Footer.test.tsx
  dev/src/components/Footer.tsx
  dev/test/components/Footer.test.tsx
  org/src/components/ErrorPage.tsx
  org/src/components/Footer.tsx
  org/test/components/ErrorPage.test.tsx
  org/test/components/Footer.test.tsx
Due: format, lint, typecheck

[update] .........
  app/workers/app.ts
  com/workers/app.ts
  org/workers/app.ts
Due: format, lint, typecheck

[update] .............
  dev/server.ts
Due: format, lint, typecheck

[update] ..
  app/test/components/Footer.test.tsx
  app/test/root.loader.test.ts
  dev/server.ts
  dev/test/root.loader.test.ts
  dev/vite.config.ts
  org/test/routes/_index.test.tsx
Due: format, lint, typecheck

[update] ..
  dev/server.ts
  dev/src/constants.ts
  dev/src/entry.server.tsx
  dev/test/entry.server.test.tsx
  package.json
Due: format, lint, typecheck

[update] ...
  app/src/context.ts
  bun.lock
  dev/src/context.ts
  dev/src/entry.server.tsx
  dev/src/root.tsx
  package.json
Due: format, lint, typecheck

[update] ....
  app/src/context.ts
Due: format, lint, typecheck

[update] .....
  bun.lock
  dev/src/context.ts
  dev/src/entry.server.tsx
  dev/src/react-router.d.ts
  dev/src/root.tsx
  package.json
Due: format, lint, typecheck

[update] ......
  dev/src/context.ts
  dev/src/react-router.d.ts
  org/workers/app.ts
Due: format, lint, typecheck

[update] .......
  com/workers/app.ts
Due: format, lint, typecheck

[update] ....
  dev/vercel copy.json
Due: format

[update] ........
  com/workers/app.ts
  dev/server.ts
  org/workers/app.ts
Due: format, lint, typecheck

[update] .........
  app/test/components/ErrorPage.test.tsx
  app/test/components/NewPostDialog.test.tsx
  com/test/components/Header.test.tsx
  dev/server.ts
  dev/src/entry.server.tsx
  org/test/components/Header.test.tsx
Due: format, lint, typecheck

[degrade] .
  dev/server.ts
  dev/src/components/Footer.tsx
  dev/src/constants.ts
  dev/src/context.ts
  dev/src/entry.server.tsx
  dev/src/react-router.d.ts
  dev/test/components/Footer.test.tsx
  dev/test/entry.server.test.tsx
  dev/test/root.loader.test.ts
  dev/vercel copy.json
  dev/vite.config.ts
Due: format, lint, typecheck

[degrade] ..
  dev/public/favicon.ico
  dev/react-router.config.ts
  dev/src/context.ts
  dev/src/entry.server.tsx
  dev/src/root.tsx
  dev/test/components/DocsViewer.test.ts
  dev/test/components/DocsViewer.test.tsx
  dev/test/components/Footer.test.tsx
  dev/test/components/Header.test.tsx
  dev/test/entry.client.test.tsx
  dev/test/entry.server.test.tsx
  dev/test/layouts/baremetal.test.tsx
  dev/test/layouts/decorated.test.tsx
  dev/test/root.layout.test.tsx
  dev/test/routes/health-status.test.tsx
  dev/test/routes/home.test.tsx
Due: format, lint, typecheck

update README.md
  README.md
Due: format

[check point] ...
  app/src/context.ts
  app/src/entry.client.tsx
  app/src/entry.server.tsx
  app/src/root.tsx
  app/src/routes/_index.tsx
  app/src/routes/authentication/_index.tsx
  app/src/routes/configurations/_index.tsx
  app/src/routes/explore/_index.tsx
  app/src/routes/healths/_index.tsx
  app/src/routes/messages/_index.tsx
  app/src/routes/notifications/_index.tsx
  app/test/components/AuthForm.test.tsx
  app/test/components/SettingComponents.test.tsx
  app/test/components/Timeline.test.tsx
  app/wrangler.jsonc
  biome.json
  bun.lock
  com/src/context.ts
  com/src/entry.server.tsx
  org/src/context.ts
  package.json
Due: format, lint, typecheck

[FEATURE] now you could use health endpoint in net domain.
  app/src/context.ts
  app/src/entry.client.tsx
  app/src/root.tsx
  app/test/components/Header.test.tsx
  app/wrangler.jsonc
  bun.lock
  com/src/context.ts
  com/wrangler.jsonc
  dev/package.json
  org/src/context.ts
  org/wrangler.jsonc
  package.json
Due: format, lint, typecheck

[update] ..
  app/src/components/Footer.tsx
  app/test/components/Footer.test.tsx
  app/test/domain-routing.app.test.ts
  com/src/components/ErrorPage.tsx
  com/src/components/Footer.tsx
  com/src/components/Header.tsx
  com/src/routes.ts
  com/src/routes/configure.tsx
  com/src/routes/explore/_index.tsx
  com/test/components/ErrorPage.test.tsx
  com/test/components/Footer.test.tsx
  com/test/routes.manifest.test.ts
  com/test/routes/configure.test.tsx
  com/test/routes/explore.test.tsx
  dev/src/components/Footer.tsx
  org/src/components/Footer.tsx
  org/src/components/Header.tsx
  org/test/components/Footer.test.tsx
Due: format, lint, typecheck

[update] daily update.
  Dockerfile
  app/test/components/Footer.test.tsx
  bun.lock
  com/src/routes.ts
  com/src/routes/explore/_index.tsx
  com/test/components/Footer.test.tsx
  org/test/components/Footer.test.tsx
  package.json
Due: format, lint, typecheck

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

[info] pushed but including vulne...
  Dockerfile
  bun.lock
  package.json
Due: format

[check point] .........
  bun.lock
  package.json
Due: format

[upgrade] weekly update
  bun.lock
  package.json
Due: format
