Repository seahal/umaxica-app-edge: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      run: docker compose run main bun run format
      stage_fixed: true
      glob: "*.{js,jsx,ts,tsx,json,md}"
    lint:
      run: docker compose run main bun run lint
      stage_fixed: true
      glob: "*.{js,jsx,ts,tsx}"
    typecheck:
      run: docker compose run main bun run typecheck
      glob: "*.{ts,tsx}"
    audit:
      run: docker compose run main bun audit
      skip:
        - merge
        - rebase

pre-push:
  parallel: true
  commands:
    test:
      run: docker compose run main bun test

feat: add preference route and update dependencies
  app/src/components/Breadcrumb.tsx
  app/src/components/Header.tsx
  app/src/routes.ts
  app/src/routes/configure/_index.tsx
  app/src/routes/configure/account.tsx
  app/src/routes/configure/preference.tsx
  bun.lock
  compose.yml
  package.json
  tsconfig.json
Due: format, lint, typecheck

refactor: update test cases and remove unused route tests
  app/test/routes.manifest.test.ts
  bun.lock
Due: format, lint, typecheck

[fix] update import paths for account and preference components; add tsconfig.json and react-aria-components type definitions
  app/src/routes/configure/account.tsx
  app/src/routes/configure/preference.tsx
  test/utils.test.ts
  tsconfig.json
  types/react-aria-components.d.ts
Due: format, lint, typecheck

[fix] update API and service URLs in wrangler.jsonc; bump package dependencies
  app/wrangler.jsonc
  bun.lock
  package.json
Due: format

[misc] ..
  app/src/components/Header.tsx
  app/src/root.tsx
  app/src/routes.ts
  app/src/routes/about.tsx
  app/src/routes/authentication/_index.tsx
  app/src/routes/configurations/_index.tsx
  app/src/routes/configurations/account.tsx
  app/src/routes/configurations/preference.tsx
  app/src/routes/messages/_index.tsx
  app/src/routes/notifications/_index.tsx
  app/src/routes/search/_index.tsx
  app/test/root.loader.test.ts
  app/test/routes.manifest.test.ts
  app/wrangler.jsonc
  bun.lock
  package.json
  test/utils.test.ts
  types/react-aria-components.d.ts
Due: format, lint, typecheck

fix: update link in authentication route and format code for consistency
  app/src/root.tsx
  app/src/routes/authentication/_index.tsx
  app/test/routes.manifest.test.ts
Due: format, lint, typecheck

[.] .
  .devcontainer/devcontainer.json
  bun.lock
Due: format

[misc] .....
  .devcontainer/devcontainer.json
  app/src/components/Footer.tsx
  app/src/routes/search/_index.tsx
  bun.lock
  com/src/components/Footer.tsx
  org/src/components/Footer.tsx
  package.json
Due: format, lint, typecheck

[misc] .....
  bun.lock
  package.json
Due: format

fix: update dependencies to latest versions in bun.lock and package.json
  bun.lock
  package.json
Due: format

Update integration.yaml
  .github/workflows/integration.yaml
Due: none

[misc] .
  .github/workflows/integration.yaml
Due: none

[misc] ..
  app/src/components/Header.tsx
  app/src/root.tsx
  app/src/routes/authentication/_index.tsx
  app/src/routes/search/_index.tsx
  app/test/root.loader.test.ts
  app/wrangler.jsonc
  bun.lock
  com/src/routes/configure.tsx
  com/wrangler.jsonc
  org/src/routes/configure.tsx
  org/src/routes/sample.tsx
  org/test/domain-routing.org.test.ts
  org/test/smoke.test.ts
  org/wrangler.jsonc
  package.json
  tsconfig.json
Due: format, lint, typecheck

Add initial project structure with configuration files and type definitions
  info/.gitignore
  info/README.md
  info/index.ts
  info/package.json
  info/tsconfig.json
  org/src/routes/+types/_index.ts
  org/src/routes/+types/about.ts
  org/src/routes/+types/catch-all.ts
  org/src/routes/+types/sample.ts
Due: format, lint, typecheck

Update actions versions in integration.yaml
  .github/workflows/integration.yaml
Due: none

[misc] ...
  bun.lock
  package.json
Due: format

[misc] .....
  bun.lock
Due: none

refactor: update package dependencies and fix path mappings
  bun.lock
  bun.lockb
  org/package.json
  tsconfig.json
Due: format

chore: update babel-plugin-react-compiler to version 19.1.0-rc.1-rc-af1b7da-20250421
  bun.lock
Due: none

[update] bun.
  bun.lock
  package.json
Due: format

[system] removed info/ folder and added dev/ folder.
  biome.json
  bun.lock
  dev/package.json
  info/.gitignore
  info/README.md
  info/index.ts
  info/package.json
  info/tsconfig.json
  package.json
Due: format, lint, typecheck

[misc] .
  bun.lock
Due: none

[update?] Add isbot and tailwindcss dependencies to package.json
  app/src/routes/search/_index.tsx
  bun.lock
  package.json
Due: format, lint, typecheck

[misc] ..
  bun.lock
  package.json
Due: format

Remove sample route component and related metadata
  app/src/routes/sample.tsx
Due: format, lint, typecheck

Refactor routes and remove unused components: delete 'about' and 'sample' routes, update Header component
  bun.lock
  com/src/components/Header.tsx
  com/src/routes.ts
  com/src/routes/about.tsx
  org/package.json
  org/src/components/Header.tsx
  org/src/routes.ts
  org/src/routes/about.tsx
Due: format, lint, typecheck

Remove tests for unused 'about' and 'sample' routes in route manifest
  com/test/routes.manifest.test.ts
  org/test/routes.manifest.test.ts
Due: format, lint, typecheck

Fix route links in configuration and update tests; bump dependencies
  app/src/routes/configurations/_index.tsx
  app/test/routes.manifest.test.ts
  bun.lock
  dev/test/smoke.test.ts
  package.json
Due: format, lint, typecheck

[misc] .
  bun.lock
  bunfig.toml
  test/root.test.tsx
Due: format, lint, typecheck

[fixed] fixed broken tests.
  app/src/components/Breadcrumb.tsx
  package.json
  test/root.test.tsx
  types/react-router-augment.d.ts
  types/react-router-dom-augment.d.ts
Due: format, lint, typecheck

[system] Initialize React Router project with TypeScript, TailwindCSS, and server-side rendering. Add initial routes, configs, and assets.
  app/package.json
  app/vite.config.ts
  bun.lock
  com/package.json
  com/vite.config.ts
  compose.yml
  dev/.gitignore
  dev/README.md
  dev/app/app.css
  dev/app/root.tsx
  dev/app/routes.ts
  dev/app/routes/home.tsx
  dev/app/welcome/logo-dark.svg
  dev/app/welcome/logo-light.svg
  dev/app/welcome/welcome.tsx
  dev/package.json
  dev/public/favicon.ico
  dev/react-router.config.ts
  dev/tsconfig.json
  dev/vite.config.ts
  org/package.json
  org/src/components/Header.tsx
  package.json
Due: format, lint, typecheck

[upgrade] .
  .github/CONTRIBUTING.md
  .github/LICENSE
  .github/README.md
  .github/SECURITY.md
  .gitignore
  SECURITY.md
  app/src/components/Breadcrumb.tsx
  app/src/root.tsx
  app/src/routes.ts
  app/src/routes/_index.tsx
  app/src/routes/authentication/_index.tsx
  app/src/routes/configurations/_index.tsx
  app/src/routes/configurations/account.tsx
  app/src/routes/configurations/preference.tsx
  app/src/routes/healths/_index.tsx
  app/src/routes/notifications/_index.tsx
  app/wrangler.jsonc
  bun.lock
  bunfig.toml
  com/wrangler.jsonc
  dev/.gitignore
  dev/package.json
  dev/react-router.config.ts
  dev/src/+types/root.ts
  dev/src/app.css
  dev/src/root.tsx
  dev/src/routes.ts
  dev/src/routes/+types/home.ts
  dev/src/routes/home.tsx
  dev/src/welcome/logo-dark.svg
  dev/src/welcome/logo-light.svg
  dev/src/welcome/welcome.tsx
  dev/vite.config.ts
  org/wrangler.jsonc
  package.json
Due: format, lint, typecheck

[checkpoit] .
  bun.lock
Due: none

[checkpoit] ..
  test/server.test.ts
Due: format, lint, typecheck

[checkpoit] ....
  app/public/robots.txt
Due: none

[checkpoit] .....
  com/public/robots.txt
  org/public/robots.txt
Due: none

[clean up] migrations were completed!
  app/wrangler.jsonc
  com/wrangler.jsonc
  org/wrangler.jsonc
Due: none
