Repository seahal/umaxica-app-edge: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

format:
  run: pnpm run format
  stage_fixed: true

lint:
  run: pnpm run lint
  stage_fixed: true

typecheck:
  run: pnpm run typecheck

[update] .
  .oxfmtrc.json
  app/apex/src/index.tsx
  com/apex/src/index.tsx
  net/apex/src/index.tsx
  org/apex/src/index.tsx
  package.json
Due: format, lint, typecheck

[fix] you would deploy now.
  app/apex/package.json
  com/apex/package.json
  net/apex/package.json
  org/apex/package.json
Due: format

[update] fixed many things.
  app/apex/src/index.tsx
  app/apex/test/routes/about-route.test.ts
  app/apex/wrangler.jsonc
  com/apex/src/index.tsx
  com/apex/test/about-route.test.ts
  com/apex/wrangler.jsonc
  net/apex/src/index.tsx
  net/apex/src/renderer.tsx
  net/apex/src/style.css
  net/apex/test/footer.test.tsx
  net/apex/wrangler.jsonc
  org/apex/src/index.tsx
  org/apex/test/about-route.test.ts
  org/apex/wrangler.jsonc
  shared/apex/__tests__/footer.test.tsx
  shared/apex/footer.tsx
  shared/apex/renderer.tsx
  shared/apex/style.css
Due: format, lint, typecheck

[update] .
  app/apex/package.json
  app/apex/src/index.tsx
  app/apex/wrangler.jsonc
  com/apex/package.json
  com/apex/src/index.tsx
  com/apex/wrangler.jsonc
  net/apex/package.json
  net/apex/src/index.tsx
  net/apex/wrangler.jsonc
  org/apex/package.json
  org/apex/src/index.tsx
  org/apex/wrangler.jsonc
  pnpm-lock.yaml
Due: format, lint, typecheck

[update] ..
  app/apex/package.json
  com/apex/package.json
  net/apex/package.json
  org/apex/package.json
  pnpm-lock.yaml
Due: format

[update] ...
  app/apex/wrangler.jsonc
  com/apex/wrangler.jsonc
  net/apex/wrangler.jsonc
  org/apex/wrangler.jsonc
Due: format

[update] fixed ci settings.
  .github/workflows/integration.yaml
Due: format

[fix] fixed invalid http status errors.
  app/apex/package.json
  app/apex/src/index.tsx
  app/core/package.json
  app/core/vite.config.ts
  com/apex/package.json
  com/apex/src/index.tsx
  com/core/package.json
  com/core/vite.config.ts
  dev/status/package.json
  dev/status/vite.config.ts
  net/apex/package.json
  net/apex/src/index.tsx
  net/apex/wrangler.jsonc
  org/apex/package.json
  org/apex/src/index.tsx
  org/core/package.json
  org/core/vite.config.ts
  package.json
  pnpm-lock.yaml
  shared/apex/csrf.test.ts
  shared/apex/csrf.ts
Due: format, lint, typecheck

[update] .
  app/apex/src/index.tsx
  com/apex/src/index.tsx
  net/apex/src/index.tsx
  org/apex/src/index.tsx
  shared/apex/renderer.tsx
Due: format, lint, typecheck

[fix] error of hono page.
  shared/apex/renderer.tsx
Due: format, lint, typecheck

[update] ....
  app/apex/src/index.tsx
  app/apex/src/style.css
  com/apex/src/index.tsx
  net/apex/src/index.tsx
  org/apex/src/index.tsx
  shared/apex/renderer.tsx
Due: format, lint, typecheck

[update] ....
  app/apex/wrangler.jsonc
  app/core/wrangler.jsonc
  com/apex/wrangler.jsonc
  com/core/wrangler.jsonc
  net/apex/wrangler.jsonc
  org/apex/wrangler.jsonc
  org/core/wrangler.jsonc
  package.json
  pnpm-lock.yaml
Due: format

[update] fixed audit error.
  app/apex/package.json
  com/apex/package.json
  net/apex/package.json
  org/apex/package.json
  package.json
  pnpm-lock.yaml
Due: format

[update] ..
  app/apex/src/index.tsx
  app/apex/wrangler.jsonc
  app/core/wrangler.jsonc
  com/apex/src/index.tsx
  com/apex/wrangler.jsonc
  com/core/wrangler.jsonc
  compose.yml
  net/apex/docker-compose.yml
  net/apex/src/index.tsx
  net/apex/wrangler.jsonc
  org/apex/src/index.tsx
  org/apex/wrangler.jsonc
  org/core/wrangler.jsonc
Due: format, lint, typecheck

[update] rewrite public folder..
  app/apex/src/index.tsx
  app/apex/wrangler.jsonc
  app/core/wrangler.jsonc
  com/apex/src/index.tsx
  com/apex/wrangler.jsonc
  com/core/wrangler.jsonc
  net/apex/src/index.tsx
  net/apex/wrangler.jsonc
  org/apex/src/index.tsx
  org/apex/wrangler.jsonc
  org/core/wrangler.jsonc
  shared/apex/security-headers.ts
Due: format, lint, typecheck

chore: switch apex error responses from 500 to 400
  README.md
  app/apex/package.json
  app/apex/src/index.tsx
  app/apex/test/routes/error-pages.test.ts
  app/apex/test/routes/v1-health-route.test.ts
  app/core/package.json
  app/core/src/routes.ts
  app/core/test/routes.manifest.test.ts
  com/apex/package.json
  com/apex/src/index.tsx
  com/apex/test/routes/error-pages.test.ts
  com/apex/test/v1-health-route.test.ts
  com/core/package.json
  com/core/src/routes.ts
  com/core/test/routes.manifest.test.ts
  net/apex/package.json
  net/apex/src/index.tsx
  net/apex/test/app.test.tsx
  net/apex/test/error-pages.test.ts
  org/apex/package.json
  org/apex/src/index.tsx
  org/apex/test/routes/error-pages.test.ts
  org/apex/test/v1-health-route.test.ts
  org/core/package.json
  org/core/src/routes.ts
  org/core/test/routes.manifest.test.ts
Due: format, lint, typecheck

[update] rewrited.
  app/core/src/routes/health.tsx
  com/core/src/routes/health.tsx
  org/core/src/routes/health.tsx
Due: format, lint, typecheck

[update] rewrited.。
  app/core/src/routes/health.tsx
  com/core/src/routes/health.tsx
  org/core/src/routes/health.tsx
  shared/apex/renderer.tsx
Due: format, lint, typecheck

[fix] misc.
  app/core/src/routes/health.tsx
  com/core/src/routes/health.tsx
  com/core/wrangler.jsonc
  org/core/src/routes/health.tsx
Due: format, lint, typecheck

[misc] changed some wrangler.jsonc files.
  net/apex/wrangler.jsonc
  org/core/wrangler.jsonc
Due: format

[update] fixed errors and added wrangler.jsonc settings.
  app/apex/wrangler.jsonc
  app/core/wrangler.jsonc
  com/apex/wrangler.jsonc
  com/core/wrangler.jsonc
  net/apex/src/renderer.tsx
  net/apex/wrangler.jsonc
  org/apex/wrangler.jsonc
  org/core/wrangler.jsonc
Due: format, lint, typecheck

[update] fixed deployment failure.
  README.md
  app/core/wrangler.jsonc
  com/core/wrangler.jsonc
  org/core/wrangler.jsonc
Due: format

[update] fixed deployment failure.。
  app/apex/wrangler.jsonc
  app/core/wrangler.jsonc
  com/apex/wrangler.jsonc
  com/core/wrangler.jsonc
  net/apex/wrangler.jsonc
  org/apex/wrangler.jsonc
  org/core/wrangler.jsonc
Due: format

[update] ..
  .github/workflows/integration.yaml
  app/core/package.json
  app/core/sensitive-env.d.ts
  app/core/tsconfig.cloudflare.json
  app/core/tsconfig.json
  app/core/wrangler.jsonc
  com/core/package.json
  com/core/sensitive-env.d.ts
  com/core/tsconfig.cloudflare.json
  com/core/tsconfig.json
  com/core/wrangler.jsonc
  org/core/package.json
  org/core/sensitive-env.d.ts
  org/core/tsconfig.cloudflare.json
  org/core/tsconfig.json
  org/core/wrangler.jsonc
  package.json
  pnpm-lock.yaml
Due: format, lint, typecheck

[update] ..
  app/core/sensitive-env.d.ts
  com/core/sensitive-env.d.ts
  dev/apex/package.json
  dev/apex/public/assets/style.css
  dev/apex/src/index.tsx
  dev/apex/test/error-pages.test.ts
  pnpm-lock.yaml
Due: format, lint, typecheck

[update] fit for vercel
  dev/apex/vercel.json
Due: format

[update] added some value to .gitignore.
  .gitignore
Due: none

[update] ...
  dev/core/src/dev-server.ts
  dev/core/vercel.json
Due: format, lint, typecheck

[update] ..
  app/core/src/lib/zod.ts
  com/core/src/lib/zod.ts
  dev/core/DOCKER.md
  dev/core/README.md
  dev/core/package.json
  dev/core/public/assets/style.css
  dev/core/public/favicon.ico
  dev/core/src/dev-server.ts
  dev/core/src/error-pages.ts
  dev/core/src/error-pages/404.html
  dev/core/src/index.tsx
  dev/core/src/observability.ts
  dev/core/src/style.css
  dev/core/test/coverage.test.ts
  dev/core/test/error-pages.test.ts
  dev/core/test/global.d.ts
  dev/core/vite.config.ts
  dev/status/public/favicon.ico
  dev/status/public/robots.txt
  dev/status/src/lib/zod.ts
  dev/status/src/routes.ts
  dev/status/src/routes/catch-all.tsx
  dev/status/src/routes/home.tsx
  dev/status/test/routes.manifest.test.ts
  dev/status/test/routes/catch-all.test.tsx
  dev/status/test/routes/home.test.tsx
  org/core/src/lib/zod.ts
  package.json
  pnpm-lock.yaml
Due: format, lint, typecheck

[update] changed conents of title tag
  .github/workflows/integration.yaml
  app/apex/package.json
  app/apex/public/robots.txt
  app/apex/src/index.tsx
  app/apex/test/routes/about-route.test.ts
  app/core/package.json
  com/apex/package.json
  com/apex/public/robots.txt
  com/apex/src/index.tsx
  com/apex/test/about-route.test.ts
  com/core/package.json
  dev/status/package.json
  knip.json
  lefthook.yml
  net/apex/package.json
  net/apex/public/robots.txt
  net/apex/src/index.tsx
  net/apex/src/renderer.tsx
  net/apex/test/app.test.tsx
  net/apex/test/renderer.test.tsx
  org/apex/package.json
  org/apex/public/robots.txt
  org/apex/src/index.tsx
  org/apex/test/about-route.test.ts
  org/core/package.json
  package.json
  pnpm-lock.yaml
  shared/apex/__tests__/title.test.ts
  shared/apex/renderer.tsx
  shared/apex/seo.tsx
  shared/apex/title.ts
Due: format, lint, typecheck

[update] fixed wrangler.jsonc settings.
  app/apex/public/robots.txt
  app/apex/public/sitemap.xml
  app/apex/src/index.tsx
  app/apex/test/routes/about-route.test.ts
  app/apex/test/routes/health-route.test.ts
  app/apex/test/routes/sitemap-route.test.ts
  app/apex/wrangler.jsonc
  com/apex/public/robots.txt
  com/apex/public/sitemap.xml
  com/apex/src/index.tsx
  com/apex/test/about-route.test.ts
  com/apex/test/health-route.test.ts
  com/apex/test/routes/sitemap-route.test.ts
  com/apex/wrangler.jsonc
  net/apex/public/robots.txt
  net/apex/public/sitemap.xml
  net/apex/src/index.tsx
  net/apex/test/app.test.tsx
  net/apex/wrangler.jsonc
  org/apex/public/robots.txt
  org/apex/public/sitemap.xml
  org/apex/src/index.tsx
  org/apex/test/about-route.test.ts
  org/apex/test/health-route.test.ts
  org/apex/test/routes/sitemap-route.test.ts
  org/apex/wrangler.jsonc
Due: format, lint, typecheck

[update] fixed many tips.
  app/apex/src/index.tsx
  com/apex/src/index.tsx
  net/apex/src/index.tsx
  org/apex/src/index.tsx
  package.json
  pnpm-lock.yaml
  shared/apex/seo.tsx
Due: format, lint, typecheck

[update] much more seo performance ... ?
  app/apex/test/routes/sitemap-static.test.ts
  app/core/public/robots.txt
  app/core/src/routes/_index.tsx
  app/core/test/routes/health.test.tsx
  app/core/test/routes/home-meta.test.tsx
  com/apex/test/routes/sitemap-static.test.ts
  com/core/public/robots.txt
  com/core/src/routes/_index.tsx
  com/core/src/routes/health.tsx
  com/core/test/routes/_index.test.tsx
  com/core/test/routes/health.test.tsx
  dev/status/public/robots.txt
  dev/status/src/routes.ts
  dev/status/src/routes/health.tsx
  dev/status/test/routes.manifest.test.ts
  dev/status/test/routes/health.test.tsx
  net/apex/test/sitemap-static.test.ts
  org/apex/test/routes/sitemap-static.test.ts
  org/core/public/robots.txt
  org/core/src/routes/_index.tsx
  org/core/src/routes/health.tsx
  org/core/test/routes/_index.test.tsx
  org/core/test/routes/health.test.tsx
Due: format, lint, typecheck

[update] refreshed title tag of whole sites.
  app/apex/src/index.tsx
  app/apex/test/routes/about-route.test.ts
  app/core/src/routes/health.tsx
  app/core/test/routes/health.test.tsx
  app/core/test/routes/home-meta.test.tsx
  com/apex/src/index.tsx
  com/apex/test/about-route.test.ts
  com/core/src/routes/health.tsx
  com/core/test/routes/health.test.tsx
  dev/status/src/routes/health.tsx
  dev/status/test/routes/health.test.tsx
  net/apex/src/index.tsx
  net/apex/test/app.test.tsx
  org/apex/src/index.tsx
  org/apex/test/about-route.test.ts
  org/core/src/routes/health.tsx
  org/core/test/routes/health.test.tsx
Due: format, lint, typecheck

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,jsonc,yaml,yml,toml,md,mdx,css,scss,graphql}
  lint: any of: *.{js,jsx,ts,tsx}
  typecheck: any of: *.{ts,tsx}
