Repository seahal/umaxica-app-edge: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      run: pnpm run format
      stage_fixed: true
      glob: '*.{js,jsx,ts,tsx,json,jsonc,yaml,yml,toml,md,mdx,css,scss,graphql}'
    lint:
      run: pnpm run lint
      stage_fixed: true
      glob: '*.{js,jsx,ts,tsx}'
    typecheck:
      run: pnpm run typecheck
      glob: '*.{ts,tsx}'
    audit:
      run: pnpm audit
      skip:
        - merge
        - rebase
    #    secret-scan:
    #      run: gitleaks protect
    test:
      run: pnpm test

[UPDATE] .
  .devcontainer/devcontainer-lock.json
  pnpm-lock.yaml
Due: format

[UPDATE] ....
  .devcontainer/remote-access-preflight.sh
  .devcontainer/remote-sshd-entrypoint.sh
  Containerfile
  README.md
  compose.custom.yaml
  compose.remote-access.yaml
  compose.yaml
  dev/apex/src/page-content.tsx
  docs/development/container-security-policy.md
  docs/development/tailscale-remote-ssh.md
  net/apex/src/page-content.tsx
  scripts/dev-start
  test/compose-tunnel-invariants.test.ts
  test/development-container-security.test.ts
Due: format, lint, typecheck

[UPDATE] drop the devcontainer bootstrap and the remote-SSH overlay.
  .containerignore
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/empty.env
  .devcontainer/prune-stale-containers.sh
  .devcontainer/remote-access-preflight.sh
  .devcontainer/remote-sshd-entrypoint.sh
  .devcontainer/remote-sshd_config
  .devcontainer/tailscale-wrapper.sh
  .devcontainer/write-host-ids.sh
  .dockerignore
  Containerfile
  README.md
  compose.custom.yaml
  compose.yaml
  docs/development/container-security-policy.md
  docs/development/devcontainer-cli-podman-startup.md
  docs/development/edge-development-container.md
  docs/development/tailscale-remote-ssh.md
  empty.env
  scripts/dev-start
  test/compose-tunnel-invariants.test.ts
  test/development-container-security.test.ts
Due: format, lint, typecheck

[check point] .
  package.json
  pnpm-lock.yaml
Due: format

[UPDATE] drop the two dead overrides and bump @vitejs/plugin-react.
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

[UPDATE] harden the five apex workers' rate limiting and pin the namespace contract.
  adr/010-first-touch-rate-limiting.md
  app/apex/src/create-apex-app.ts
  app/apex/src/rate-limit.ts
  app/apex/src/status-page.ts
  app/apex/test/rate-limit.test.ts
  app/apex/wrangler.jsonc
  app/core/test/lib/rate-limit.test.ts
  com/apex/src/create-apex-app.ts
  com/apex/src/rate-limit.ts
  com/apex/src/status-page.ts
  com/apex/test/rate-limit.test.ts
  com/apex/wrangler.jsonc
  com/core/test/lib/rate-limit.test.ts
  dev/apex/src/create-apex-app.ts
  dev/apex/src/rate-limit.ts
  dev/apex/src/status-page.ts
  dev/apex/test/rate-limit.test.ts
  dev/apex/wrangler.jsonc
  net/apex/src/create-apex-app.ts
  net/apex/src/rate-limit.ts
  net/apex/src/status-page.ts
  net/apex/test/rate-limit.test.ts
  net/apex/wrangler.jsonc
  org/apex/src/create-apex-app.ts
  org/apex/src/rate-limit.ts
  org/apex/src/status-page.ts
  org/apex/test/rate-limit.test.ts
  org/apex/wrangler.jsonc
  org/core/test/lib/rate-limit.test.ts
  test/html-title-contract.test.ts
  tools/check-workers.mjs
Due: format, lint, typecheck

[CHECLPONT] divert from broken system.
  Containerfile
  README.md
  compose.custom.yaml
  docs/development/container-security-policy.md
  docs/development/credential-and-secret-management.md
  docs/development/development-environment-overview.md
  docs/development/git-and-github-access.md
  scripts/dev-start
  scripts/dev-stop
  scripts/github-readonly-check
  test/development-container-security.test.ts
Due: format, lint, typecheck

[UPDATE] make the compose overlay a gitignored copy of a tracked template.
  .gitignore
  README.md
  compose.custom.yaml.example
  scripts/dev-start
  test/compose-tunnel-invariants.test.ts
  test/development-container-security.test.ts
Due: format, lint, typecheck

[CHECKPOINT] ...
  .devcontainer/devcontainer.json
  .gitignore
  Containerfile
  README.md
  adr/008-edge-development-tunnel-exposure.md
  compose.custom.yaml.example
  compose.override.yaml.example
  compose.yaml
  docs/development/container-security-policy.md
  docs/development/devcontainer-cli-podman-startup.md
  docs/development/development-environment-overview.md
  docs/development/git-and-github-access.md
  scripts/check-rails
  scripts/dev-start
  scripts/dev-stop
  scripts/github-readonly-check
  test/compose-local-override-invariants.test.ts
  test/compose-tunnel-invariants.test.ts
  test/development-container-security.test.ts
Due: format, lint, typecheck

[CHECKPOINT] ....
  .devcontainer/devcontainer.json
Due: format

[Checkpoint] .
  .gitignore
Due: none

[CheckPoint] .
  .cspell/project-words.txt
  .devcontainer/devcontainer.json
  README.md
  SECURITY.md
  adr/008-edge-development-tunnel-exposure.md
  adr/014-edge-owned-development-tunnel.md
  app/apex/test/status-surfaces.test.ts
  app/core/test/content-security-policy.test.ts
  com/apex/test/status-surfaces.test.ts
  com/core/test/content-security-policy.test.ts
  dev/apex/test/status-surfaces.test.ts
  docs/development/container-security-policy.md
  docs/development/git-and-github-access.md
  net/apex/test/status-surfaces.test.ts
  org/apex/test/status-surfaces.test.ts
  org/core/test/content-security-policy.test.ts
  test/compose-local-override-invariants.test.ts
  test/development-container-security.test.ts
Due: format, lint, typecheck

plan: add Astro docs grill-me implementation prompt
  plans/grill-me-with-docs-astro.md
Due: format

plan: align Astro docs contract with v0 and repo findings
  plans/grill-me-with-docs-astro.md
Due: format

[] checkpoint.
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

Record Workers VPC → Rails connectivity check, and track evidence/
  evidence/2026-09-02-evidence-policy-rollout.md
  evidence/2026-09-02-workers-vpc-rails-connectivity.md
Due: format

style: drop stray blank line from the twelve astro.config.mjs
  app/docs/astro.config.mjs
  app/help/astro.config.mjs
  app/info/astro.config.mjs
  app/news/astro.config.mjs
  com/docs/astro.config.mjs
  com/help/astro.config.mjs
  com/info/astro.config.mjs
  com/news/astro.config.mjs
  org/docs/astro.config.mjs
  org/help/astro.config.mjs
  org/info/astro.config.mjs
  org/news/astro.config.mjs
Due: none

chore(deps): move the catalog to current patch/minor releases
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

feat: add Astro Rails entries boundary
  app/docs/src/lib/rails-entries.ts
  app/docs/test/lib/rails-entries.test.ts
  app/help/src/lib/rails-entries.ts
  app/help/test/lib/rails-entries.test.ts
  app/info/src/lib/rails-entries.ts
  app/info/test/lib/rails-entries.test.ts
  app/news/src/lib/rails-entries.ts
  app/news/test/lib/rails-entries.test.ts
  com/docs/src/lib/rails-entries.ts
  com/docs/test/lib/rails-entries.test.ts
  com/help/src/lib/rails-entries.ts
  com/help/test/lib/rails-entries.test.ts
  com/info/src/lib/rails-entries.ts
  com/info/test/lib/rails-entries.test.ts
  com/news/src/lib/rails-entries.ts
  com/news/test/lib/rails-entries.test.ts
  evidence/2026-09-03-astro-rails-entries-boundary.md
  org/docs/src/lib/rails-entries.ts
  org/docs/test/lib/rails-entries.test.ts
  org/help/src/lib/rails-entries.ts
  org/help/test/lib/rails-entries.test.ts
  org/info/src/lib/rails-entries.ts
  org/info/test/lib/rails-entries.test.ts
  org/news/src/lib/rails-entries.ts
  org/news/test/lib/rails-entries.test.ts
Due: format, lint, typecheck

chore(deps): adopt Astro 7.3 and Vitest 5
  .gitignore
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

[CHECKPOINT] .....
  README.md
  adr/014-edge-owned-development-tunnel.md
  app/core/vite.config.ts
  app/docs/astro.config.mjs
  app/help/astro.config.mjs
  app/info/astro.config.mjs
  app/news/astro.config.mjs
  com/core/vite.config.ts
  com/docs/astro.config.mjs
  com/help/astro.config.mjs
  com/info/astro.config.mjs
  com/news/astro.config.mjs
  compose.override.yaml.example
  compose.yaml
  docs/development/devcontainer-cli-podman-startup.md
  docs/development/development-environment-overview.md
  docs/operations/cloudflare-tunnel-development.md
  evidence/2026-09-04-edge-tunnel-token-fallback-removal.md
  evidence/2026-09-04-tunnel-token-single-variable.md
  org/core/vite.config.ts
  org/docs/astro.config.mjs
  org/help/astro.config.mjs
  org/info/astro.config.mjs
  org/news/astro.config.mjs
  scripts/dev-start
  test/compose-tunnel-invariants.test.ts
  test/development-container-security.test.ts
Due: format, lint, typecheck

[CHECKPOINT] ...
  .devcontainer/devcontainer.json
Due: format

[UPDATE] we could use cf workers vpc again.
  .devcontainer/devcontainer-lock.json
  adr/006-development-workers-vpc-transport.md
  app/core/wrangler.jsonc
  app/docs/src/lib/cms/client.ts
  app/docs/test/lib/cms-client.test.ts
  app/docs/wrangler.jsonc
  app/help/wrangler.jsonc
  app/info/wrangler.jsonc
  app/news/wrangler.jsonc
  com/core/wrangler.jsonc
  com/docs/wrangler.jsonc
  com/help/wrangler.jsonc
  com/info/wrangler.jsonc
  com/news/wrangler.jsonc
  evidence/2026-09-05-astro-cms-vpc-ssr.md
  evidence/2026-09-05-workers-vpc-dedicated-tunnel.md
  evidence/2026-09-05-workers-vpc-namespace-identity.md
  org/core/wrangler.jsonc
  org/docs/wrangler.jsonc
  org/help/wrangler.jsonc
  org/info/wrangler.jsonc
  org/news/wrangler.jsonc
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/vpc-probe/wrangler.jsonc
  tools/workers-manifest.json
Due: format, lint, typecheck

fix(app/docs): type Reflect.get CMS index fields as unknown
  app/docs/src/lib/cms/client.ts
Due: format, lint, typecheck

fix(app/docs): exclude ok from CMS HTTP error mapping
  app/docs/src/lib/cms/client.ts
Due: format, lint, typecheck
