Repository seahal/umaxica-app-edge: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

format:
  run: docker compose run main bun run format
  stage_fixed: true

lint:
  run: docker compose run main bun run lint
  stage_fixed: true

typecheck:
  run: docker compose run main bun run typecheck

[misc] .
  dev/src/root.tsx
Due: format, lint, typecheck

[misc] ..
  bun.lock
  package.json
Due: format

[misc] ...
  bun.lock
  package.json
Due: format

[update] added /health check endpoint.
  app/src/layouts/baremetal.tsx
  app/src/layouts/decorated.tsx
  app/src/root.tsx
  app/src/routes.ts
  app/test/routes.manifest.test.ts
Due: format, lint, typecheck

[update] all domains could use /health endpoints.
  app/test/root.layout.test.tsx
  com/src/layouts/baremetal.tsx
  com/src/layouts/decorated.tsx
  com/src/root.tsx
  com/src/routes.ts
  com/src/routes/healths/_index.tsx
  dev/src/layouts/baremetal.tsx
  dev/src/layouts/decorated.tsx
  dev/src/root.tsx
  dev/src/routes.ts
  dev/src/routes/healths/_index.tsx
  dev/test/routes.manifest.test.ts
  org/src/layouts/baremetal.tsx
  org/src/layouts/decorated.tsx
  org/src/root.tsx
  org/src/routes.ts
  org/src/routes/healths/_index.tsx
  org/test/routes.manifest.test.ts
Due: format, lint, typecheck

[update] fixed documents.
  .github/README.md
  .github/SECURITY.md
Due: format

[misc] .
  Dockerfile
  bun.lock
  package.json
Due: format

[update] misc.
  .github/README.md
  bun.lock
  package.json
Due: format

[system] setup secret manager.
  app/wrangler.jsonc
  com/wrangler.jsonc
  org/wrangler.jsonc
Due: none

[system] setup secret manager. (re
  app/wrangler.jsonc
  bun.lock
  com/wrangler.jsonc
  org/wrangler.jsonc
Due: none

[update] misc.
  .github/workflows/integration.yaml
  CLAUDE.md
  app/tsconfig.cloudflare.json
  app/tsconfig.node.json
  app/vite.config.ts
  app/workers/app.ts
  com/src/root.tsx
  com/tsconfig.cloudflare.json
  com/vite.config.ts
  com/workers/app.ts
  dev/vite.config.ts
  org/src/root.tsx
  org/tsconfig.cloudflare.json
  org/vite.config.ts
  org/workers/app.ts
  shared/config.ts
  shared/env.ts
  shared/hmr-client.js
  shared/hmr-client.ts
  shared/meta-env.ts
  shared/security.ts
Due: format, lint, typecheck

[BROKEN!] [check point] restructing ...
  biome.json
  bun.lock
  com/vite.config.ts
  dev/vite.config.ts
  org/src/root.tsx
  org/vite.config.ts
  org/workers/app.ts
  package.json
Due: format, lint, typecheck

Add edge-runtime.ts implementation for multiple environments and update various dependencies to Bun 1.3.1
  .github/README.md
  .github/workflows/integration.yaml
  CLAUDE.md
  Dockerfile
  app/edge-runtime.ts
  app/tsconfig.cloudflare.json
  app/vite.config.ts
  app/workers/app.ts
  bun.lock
  com/edge-runtime.ts
  com/src/root.tsx
  com/tsconfig.cloudflare.json
  com/workers/app.ts
  dev/edge-runtime.ts
  org/edge-runtime.ts
  org/src/root.tsx
  org/tsconfig.cloudflare.json
  org/workers/app.ts
  package.json
  tsconfig.json
Due: format, lint, typecheck

[system] set up bun's function of workspace.
  app/edge-runtime.ts
  app/package.json
  bun.lock
  com/edge-runtime.ts
  dev/edge-runtime.ts
  dev/package.json
  org/edge-runtime.ts
  org/package.json
  package.json
Due: format, lint, typecheck

[update] .
  .github/README.md
  .github/dependabot.yml
  bun.lock
Due: format

[update] fixed CSP preferences.
  .github/dependabot.yml
  app/.gitignore
  app/react-router-types.d.ts
  app/src/entry.server.tsx
  app/src/root.tsx
  bun.lock
  com/.gitignore
  com/react-router-types.d.ts
  com/src/entry.server.tsx
  com/src/root.tsx
  dev/.gitignore
  dev/package.json
  org/.gitignore
  org/react-router-types.d.ts
  org/src/entry.server.tsx
  org/src/root.tsx
Due: format, lint, typecheck

[update] misc.
  .github/dependabot.yml
Due: none

[degrade] fixed bugs which were created by ai.
  .github/dependabot.yml
  app/edge-runtime.ts
  app/test/root.layout.test.tsx
  app/vite.config.ts
  app/workers/app.ts
  com/src/routes/sample.tsx
  com/workers/app.ts
  dev/edge-runtime.ts
  dev/src/root.tsx
  org/edge-runtime.ts
  org/src/root.tsx
  org/workers/app.ts
Due: format, lint, typecheck

[checkpoint] .
  app/package.json
  com/edge-runtime.ts
  com/package.json
  dev/package.json
  dev/src/+types/root.ts
  dev/src/root.tsx
  dev/tsconfig.json
  org/package.json
  org/src/root.tsx
Due: format, lint, typecheck

[update] trying to use ven-sh/setup-bun@v2
  .github/workflows/integration.yaml
Due: none

[update] misc.
  bun.lock
Due: none

[update] misc..
  app/package.json
  com/src/root.tsx
Due: format, lint, typecheck

[update] misc...
  com/src/root.tsx
Due: format, lint, typecheck

[fix] security fix.
  app/src/entry.client.tsx
  com/src/entry.server.tsx
  org/src/entry.server.tsx
Due: format, lint, typecheck

[test] .
  .devcontainer/devcontainer.json
Due: format

[test] ..
  .devcontainer/devcontainer.json
Due: format

[test] ..
  .devcontainer/devcontainer.json
  lefthook.yml
Due: format

[misc] you might use codex in devcontainer.
  .devcontainer/devcontainer.json
  bun.lock
  package.json
Due: format

[update] you could use codex in devcontainer!
  app/test/root.layout.test.tsx
  lefthook.yml
Due: format, lint, typecheck

[misc] .
  bun.lock
  package.json
Due: format

[brush up] claude code made our repo clean!
  .devcontainer/devcontainer.json
  app/package.json
  biome.json
  bun.lock
  compose.yml
  dev/package.json
  lefthook.yml
  package.json
Due: format

[brush up] claude code made our repo clean! (re２
  dev/src/entry.client.tsx
  dev/src/entry.server.tsx
Due: format, lint, typecheck

[update] daily update and misc.
  .github/README.md
  Dockerfile
  bun.lock
  package.json
Due: format

[update] daily set up.
  bun.lock
  lefthook.yml
  package.json
Due: format

[system] rename cloudflare workes preference of app domains
  app/wrangler.jsonc
Due: none

[system] rename cloudflare workes preference of org and com domains
  com/wrangler.jsonc
  org/wrangler.jsonc
Due: none

[update] set domains to the preference.
  com/wrangler.jsonc
Due: none

[update] added vercel's function of speed check.
  bun.lock
  dev/package.json
  dev/src/root.tsx
Due: format, lint, typecheck

[update] set up cloudflare worker's placement
  app/wrangler.jsonc
  com/wrangler.jsonc
  org/wrangler.jsonc
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,md}
  lint: any of: *.{js,jsx,ts,tsx}
  typecheck: any of: *.{ts,tsx}
