Repository seahal/umaxica-app-edge: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      run: bun run format
      stage_fixed: true
      glob: "*.{js,jsx,ts,tsx,json,md}"
    lint:
      run: bun run lint
      stage_fixed: true
      glob: "*.{js,jsx,ts,tsx}"
    typecheck:
      run: bun run typecheck
      glob: "*.{ts,tsx}"
    audit:
      run: bun audit
      skip:
        - merge
        - rebase

pre-push:
  parallel: true
  commands:
    test:
      run: bun test
    build:
      run: bun run build
    cf-typegen:
      run: bun run cf-typegen

[SYSTEM] LEFTHOOK (20)
  lefthook.yml
  worker-configuration.d.ts
Due: format, lint, typecheck

[SYSTEM] LEFTHOOK (21)
  biome.json
Due: format

[misc] ........
  bun.lockb
  package.json
Due: format

[misc] .
  bun.lockb
  vite.config.ts
Due: format, lint, typecheck

[misc] ...
  .devcontainer/devcontainer.json
  .gitignore
  app/_middleware.js
  app/client.js
  app/global.js
  app/routes/app.localdomain/about.js
  app/routes/app.localdomain/contact.js
  app/routes/app.localdomain/health.html.js
  app/routes/app.localdomain/health.json.js
  app/routes/app.localdomain/index.js
  app/routes/com.localdomain/about.js
  app/routes/com.localdomain/index.js
  app/routes/jp.umaxica.app/about.js
  app/routes/jp.umaxica.app/contact.js
  app/routes/jp.umaxica.app/health.html.js
  app/routes/jp.umaxica.app/health.json.js
  app/routes/jp.umaxica.app/index.js
  app/routes/jp.umaxica.com/about.js
  app/routes/jp.umaxica.com/index.js
  app/routes/jp.umaxica.org/about.js
  app/routes/jp.umaxica.org/index.js
  app/routes/org.localdomain/index.js
  app/server.js
  package.json
  tests/domain-routing.test.js
  tests/server.test.js
  tests/utils.test.js
  vite.config.js
Due: format, lint

[misc] .....
  bun.lockb
  package.json
Due: format

[misc] .(6
  app/routes/app/env.tsx
  bun.lockb
  test/check.test.ts
Due: format, lint, typecheck

Implement routing and layout for Umaxica application; add pages for App, Com, and Org domains; replace global rendering with static asset serving; update build process and dependencies.
  app/App.tsx
  app/client.tsx
  app/components/Layout.tsx
  app/global.tsx
  app/pages/NotFound.tsx
  app/pages/app/About.tsx
  app/pages/app/Contact.tsx
  app/pages/app/Index.tsx
  app/pages/com/About.tsx
  app/pages/com/Index.tsx
  app/pages/org/Index.tsx
  app/server.tsx
  bun.lockb
  package.json
  public/index.html
  tsconfig.json
  vite.config.ts
  wrangler.jsonc
Due: format, lint, typecheck

[system] rebasing vite setting.
  bun.lockb
  dist-server/index.js
  dist-server/server.js
  package.json
Due: format, lint

[SYSTEM] restructing...
  com/.keep
  org/.keep
Due: none

[SYSTEM] restructing...(2
  bun.lock
  package.json
Due: format

[SYSTEM] restructing...(2
  app/vite.config.ts
  app/wrangler.jsonc
  com/vite.config.ts
  com/wrangler.jsonc
  org/vite.config.ts
  org/wrangler.jsonc
Due: format, lint, typecheck

[SYSTEM] restructing...(3
  app/wrangler.jsonc
  com/wrangler.jsonc
  org/wrangler.jsonc
Due: none

[misc] ...
  .dev.vars
  CLAUDE.md
  app/App.tsx
  app/_middleware.ts
  app/pages/com/Index.tsx
  app/server.tsx
  app/test/app.test.tsx
  app/vite.config.ts
  app/wrangler.jsonc
  bun.lock
  bunfig.toml
  package.json
  public/404.html
  test/check.test.ts
  tsconfig.json
  vite.config.ts
  wrangler.jsonc
Due: format, lint, typecheck

[misc]....
  app/package.json
  app/src/index.js
  app/vite.config.js
  biome.json
  bun.lock
  com/package.json
  com/src/index.js
  com/src/index.tsx
  com/vite.config.js
  org/package.json
  org/src/index.js
  org/vite.config.js
  package.json
  test/check.test.js
  test/domain-routing.test.js
  test/server.test.js
  test/utils.test.js
  worker-configuration.d.ts
Due: format, lint, typecheck

[misc]......
  app/test/app.test.tsx
Due: format, lint, typecheck

[misc] ......
  app/app/routes/_renderer.tsx
  app/app/routes/blog/(content)/_renderer.tsx
  app/client.tsx
  app/hmr-client.ts
  app/vite.config.ts
  biome.json
  bun.lock
  com/app/routes/_renderer.tsx
  com/app/routes/blog/(content)/_renderer.tsx
  com/hmr-client.ts
  com/server.tsx
  com/vite.config.ts
  org/app/routes/_renderer.tsx
  org/app/routes/blog/(content)/_renderer.tsx
  org/hmr-client.ts
  org/server.tsx
  org/vite.config.ts
  package.json
  shared/config.ts
  shared/hmr-client.ts
Due: format, lint, typecheck

[misc] .......
  .github/workflows/integration.yaml
Due: none

[misc] ........
  .github/workflows/integration.yaml
Due: none

[misc] .........
  .github/workflows/delivery.yaml
Due: none

[misc] ..........
  .github/workflows/delivery.yaml
  package.json
Due: format

[system] a package(bun) was updated
  bun.lock
  package.json
Due: format

[system] update.
  bun.lock
  package.json
Due: format

[system] update..
  app/vite.config.js
  app/vite.config.ts
  biome.json
  com/vite.config.js
  com/vite.config.ts
  org/vite.config.js
  org/vite.config.ts
  test/server.test.js
  test/server.test.ts
  types/vite-ssr-components-plugin.d.ts
Due: format, lint, typecheck

[update] fixed some errors.
  com/app/root.tsx
  com/app/routes/home.tsx
  com/react-router.config.ts
  com/src/+types/root.ts
  com/src/routes/+types/home.ts
  com/tsconfig.cloudflare.json
  org/app/+types/root.ts
  org/app/routes/+types/home.ts
  org/tsconfig.cloudflare.json
  package.json
Due: format, lint, typecheck

[SYSTEM] changed a lot.
  CLAUDE.md
  bun.lock
  org/package.json
  package.json
Due: format

[update] fixed some things.
  com/app/entry.client.tsx
  com/wrangler.jsonc
  org/app/entry.client.tsx
  org/wrangler.jsonc
  package.json
Due: format, lint, typecheck

[update] fixed type errors.
  com/react-router.config.ts
  com/src/app.css
  com/src/entry.client.tsx
  com/src/entry.server.tsx
  com/src/root.tsx
  com/src/routes.ts
  com/src/routes/home.tsx
  com/src/welcome/logo-dark.svg
  com/src/welcome/logo-light.svg
  com/src/welcome/welcome.tsx
  org/app/routes.ts
  org/package.json
  org/react-router.config.ts
  org/src/+types/root.ts
  org/src/app.css
  org/src/entry.client.tsx
  org/src/entry.server.tsx
  org/src/root.tsx
  org/src/routes.ts
  org/src/routes/+types/home.ts
  org/src/routes/configure.tsx
  org/src/routes/home.tsx
  org/src/welcome/logo-dark.svg
  org/src/welcome/logo-light.svg
  org/src/welcome/welcome.tsx
  org/wrangler.jsonc
Due: format, lint, typecheck

[system] upgrade bun version.
  bun.lock
  org/package.json
  package.json
Due: format

[update] fixed type errors.
  app/.gitignore
  app/README.md
  app/bun.lock
  app/package.json
  app/public/favicon.ico
  app/react-router.config.ts
  app/src/+types/root.ts
  app/src/app.css
  app/src/entry.client.tsx
  app/src/entry.server.tsx
  app/src/root.tsx
  app/src/routes.ts
  app/src/routes/+types/home.ts
  app/src/routes/configure.tsx
  app/src/routes/home.tsx
  app/src/welcome/logo-dark.svg
  app/src/welcome/logo-light.svg
  app/src/welcome/welcome.tsx
  app/tsconfig.cloudflare.json
  app/tsconfig.json
  app/tsconfig.node.json
  app/virtual-modules.d.ts
  app/vite.config.ts
  app/workers/app.ts
  app/wrangler.jsonc
  com/workers/app.ts
Due: format, lint, typecheck

[learning] claude code write some example codes.
  app/src/+types/root.ts
  app/src/entry.client.tsx
  app/src/routes/configure.tsx
  com/bun.lock
  com/bunfig.toml
  com/package.json
  com/src/components/ErrorPage.tsx
  com/src/entry.client.tsx
  com/src/root.tsx
  com/src/routes.ts
  com/src/routes/about.tsx
  com/src/routes/catch-all.tsx
  com/src/routes/contact.tsx
  com/src/routes/home.tsx
  com/src/routes/privacy.tsx
  com/src/routes/privacy/docs.tsx
  com/src/routes/privacy/index.tsx
  com/src/routes/privacy/policy.tsx
  com/src/routes/services.tsx
  com/src/utils/error-utils.ts
  com/src/utils/test-helpers.ts
  com/test-setup.ts
  com/test/components/error-page.test.ts
  com/test/routes/loader.test.tsx
  com/test/routes/meta.test.tsx
  com/test/utils/error-utils.test.ts
  com/test/utils/test-helpers.test.ts
  com/workers/app.ts
  org/src/entry.client.tsx
  org/wrangler.jsonc
  package.json
Due: format, lint, typecheck

[learning] claude code write some example codes.
  bun.lock
  com/src/routes/privacy.tsx
  com/vite.config.ts
  package.json
Due: format, lint, typecheck
