Repository seahal/umaxica-app-edge: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

format:
  run: bun run format
  stage_fixed: true

lint:
  run: bun run lint
  stage_fixed: true

typecheck:
  run: bun run type

[upgrade] daily update.
  bun.lock
  package.json
Due: format

[upgrade] .
  bun.lock
  package.json
Due: format

[fix] security tips.
  bun.lock
  package.json
Due: format

[CheckPoint] take a rest..
  .devcontainer/devcontainer-lock.json
  .github/actions/setup/action.yaml
  .github/workflows/integration.yaml
  app/apex/package.json
  app/apex/vite.config.ts
  app/core/src/context.ts
  app/core/src/entry.server.tsx
  app/core/vite.config.ts
  app/core/workers/app.ts
  com/apex/vite.config.ts
  com/core/src/context.ts
  com/core/src/entry.server.tsx
  com/core/vite.config.ts
  com/core/workers/app.ts
  compose.yml
  dev/apex/package.json
  dev/apex/vite.config.ts
  dev/status/vite.config.ts
  net/apex/vite.config.ts
  org/apex/package.json
  org/apex/vite.config.ts
  org/core/src/context.ts
  org/core/src/entry.server.tsx
  org/core/vite.config.ts
  org/core/workers/app.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint, typecheck

[CheckPoint] take a rest...
  .github/actions/setup/action.yaml
Due: none

[CheckPoint] take a rest....
  .github/actions/setup/action.yaml
  .github/workflows/integration.yaml
Due: none

[CheckPoint] take a rest.....
  .npmrc
  pnpm-lock.yaml
Due: none

[CheckPoint] take a rest.。。。。。
  .devcontainer/devcontainer-lock.json
Due: format

[fixed] .
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  README.md
  app/apex/package.json
  app/apex/test/routes/about-route.test.ts
  app/apex/test/routes/health-route.test.ts
  app/apex/test/routes/v1-health-route.test.ts
  app/apex/vite.config.ts
  app/core/package.json
  app/core/src/routes/authentication/_index.tsx
  app/core/test/routes/authentication.test.tsx
  com/apex/package.json
  com/apex/src/index.ts
  com/core/package.json
  com/core/wrangler.jsonc
  compose.yml
  dev/apex/package.json
  dev/apex/test/routes/about-route.test.ts
  dev/apex/test/routes/health-route.test.ts
  dev/apex/test/routes/v1-health-route.test.ts
  dev/apex/vite.config.ts
  dev/status/package.json
  dev/status/src/entry.client.tsx
  dev/status/vite.config.ts
  net/apex/package.json
  org/apex/package.json
  org/apex/src/index.ts
  org/apex/vite.config.ts
  org/core/package.json
  org/core/src/entry.client.tsx
  package.json
  pnpm-lock.yaml
  shared/src/index.ts
Due: format, lint, typecheck

[fixed] ..
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  README.md
Due: format

[update] .
  README.md
  app/apex/package.json
  app/apex/src/index.ts
  app/apex/vite.config.ts
  com/apex/package.json
  com/apex/src/index.ts
  com/apex/src/pages/about-page.ts
  com/apex/vite.config.ts
  dev/apex/package.json
  dev/apex/src/index.ts
  dev/apex/vite.config.ts
  net/apex/package.json
  net/apex/src/index.tsx
  net/apex/vite.config.ts
  org/apex/package.json
  org/apex/src/index.ts
  org/apex/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  shared/package.json
  shared/src/index.ts
  shared/tsconfig.json
  vitest.config.ts
Due: format, lint, typecheck

[update] .
  com/apex/test/about-route.test.ts
  lefthook.yml
Due: format, lint, typecheck

[update] ..
  lefthook.yml
Due: none

[update] .
  package.json
  pnpm-lock.yaml
Due: format

[fixed] ...
  README.md
Due: format

[update] .
  app/core/package.json
  com/core/package.json
  org/core/package.json
  pnpm-lock.yaml
Due: format

[update] fixed many things.
  .npmrc
  app/apex/package.json
  app/core/package.json
  app/core/vite.config.ts
  com/apex/package.json
  com/core/package.json
  com/core/vite.config.ts
  dev/apex/package.json
  dev/status/package.json
  net/apex/package.json
  org/apex/package.json
  org/core/package.json
  org/core/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: format, lint, typecheck

[update] .
  app/apex/package.json
  app/core/package.json
  com/apex/package.json
  com/core/package.json
  dev/apex/package.json
  dev/status/package.json
  net/apex/package.json
  org/apex/package.json
  org/core/package.json
  pnpm-lock.yaml
Due: format

[update] .
  app/core/test/components/SearchResults.test.tsx
Due: format, lint, typecheck

[update] ..
  app/apex/wrangler.jsonc
  app/core/test/routes/healths.test.tsx
  app/core/test/routes/messages.test.tsx
  app/core/test/routes/notifications.test.tsx
  app/core/wrangler.jsonc
  com/apex/wrangler.jsonc
  com/core/wrangler.jsonc
  dev/apex/wrangler.jsonc
  net/apex/wrangler.jsonc
  org/apex/wrangler.jsonc
  org/core/wrangler.jsonc
Due: format, lint, typecheck

[update] ...
  README.md
  dev/status/src/+types/root.ts
  dev/status/src/root.tsx
  dev/status/src/routes/healths/_index.tsx
  dev/status/test/root.loader.test.ts
Due: format, lint, typecheck

[update] ..
  dev/apex/vercel.json
Due: format

[update] .
  dev/apex/api/index.ts
  dev/apex/package.json
  dev/apex/src/index.ts
  dev/apex/src/pages/about-page.ts
  dev/apex/src/pages/health-page.ts
  dev/apex/src/pages/root-redirect.ts
  dev/apex/test/health-page.test.ts
  dev/apex/test/root-redirect.test.ts
  dev/apex/test/routes/about-route.test.ts
  dev/apex/test/routes/health-route.test.ts
  dev/apex/test/routes/root-route.test.ts
  dev/apex/test/routes/v1-health-route.test.ts
  dev/apex/test/utils/request.ts
  dev/apex/tsconfig.json
  dev/apex/vercel.json
  dev/apex/vite.config.ts
  dev/status/.gitignore
Due: format, lint, typecheck

[update] fixed dev/status runtime
  dev/status/react-router.config.ts
  dev/status/src/context.ts
  dev/status/src/root.tsx
  package.json
  pnpm-lock.yaml
Due: format, lint, typecheck

[update] set up public folder.
  README.md
  app/apex/public/robots.txt
  com/apex/public/robots.txt
  dev/status/public/robots.txt
  net/apex/public/robots.txt
  net/apex/wrangler.jsonc
  org/apex/public/robots.txt
Due: format

[update] .
  app/core/scripts/clean.mjs
  app/core/src/components/Timeline.tsx
  app/core/src/entry.server.tsx
  app/core/test/components/Timeline.test.tsx
  app/core/test/entry.server.test.tsx
  com/core/src/entry.client.tsx
  com/core/src/entry.server.tsx
  dev/status/src/entry.client.tsx
  dev/status/src/entry.server.tsx
  net/apex/src/renderer.tsx
  net/apex/test/app.test.tsx
  org/core/scripts/clean.mjs
  org/core/src/entry.client.tsx
  org/core/src/entry.server.tsx
Due: format, lint, typecheck

[update] .
  app/apex/src/pages/about-page.ts
  com/apex/src/pages/about-page.ts
  org/apex/src/pages/about-page.ts
Due: format, lint, typecheck

[update] .
  app/core/package.json
  app/core/public/404.html
  app/core/scripts/export-spa-routes.ts
  app/core/scripts/spa-routes.ts
  app/core/workers/app.ts
  app/core/wrangler.jsonc
  com/core/package.json
  com/core/public/404.html
  com/core/scripts/export-spa-routes.ts
  com/core/scripts/spa-routes.ts
  com/core/workers/app.ts
  com/core/wrangler.jsonc
  org/core/package.json
  org/core/public/404.html
  org/core/scripts/export-spa-routes.ts
  org/core/scripts/spa-routes.ts
  org/core/workers/app.ts
  org/core/wrangler.jsonc
Due: format, lint, typecheck

[update] .
  app/apex/public/cookie-consent-banner.js
  app/apex/src/pages/about-page.ts
  app/apex/src/pages/health-page.ts
  app/apex/src/pages/layout.ts
  app/apex/test/cookie-consent.test.ts
  com/apex/public/cookie-consent-banner.js
  com/apex/src/pages/about-page.ts
  com/apex/src/pages/health-page.ts
  com/apex/src/pages/layout.ts
  com/apex/test/cookie-consent.test.ts
  org/apex/public/cookie-consent-banner.js
  org/apex/src/pages/about-page.ts
  org/apex/src/pages/health-page.ts
  org/apex/src/pages/layout.ts
  org/apex/test/cookie-consent.test.ts
  shared/CookieConsentBanner.tsx
  shared/apex/__tests__/seo.test.tsx
  shared/apex/__tests__/title.test.ts
  shared/apex/seo.tsx
  shared/apex/title.ts
  shared/consentState.ts
  shared/cookie.ts
  shared/cookieConsentApi.ts
Due: format, lint, typecheck

[update] .
  .github/workflows/integration.yaml
  net/apex/src/footer.tsx
  net/apex/src/renderer.tsx
  net/apex/test/footer.test.tsx
  net/apex/test/renderer.test.tsx
  shared/apex/__tests__/footer.test.tsx
  shared/apex/footer.tsx
  vitest.config.ts
Due: format, lint, typecheck

[update] rewrite public folder.
  app/apex/public/400.html
  app/apex/public/406-unsupported-browser.html
  app/apex/public/422.html
  app/apex/public/500.html
  app/apex/public/README.md
  app/apex/public/cookie-consent-banner.js
  com/apex/public/400.html
  com/apex/public/404.html
  com/apex/public/406-unsupported-browser.html
  com/apex/public/422.html
  com/apex/public/500.html
  com/apex/public/README.md
  com/apex/public/cookie-consent-banner.js
  net/apex/public/400.html
  net/apex/public/404.html
  net/apex/public/406-unsupported-browser.html
  net/apex/public/422.html
  net/apex/public/500.html
  net/apex/public/favicon.ico
  net/apex/public/robots.txt
  org/apex/public/400.html
  org/apex/public/404.html
  org/apex/public/406-unsupported-browser.html
  org/apex/public/422.html
  org/apex/public/500.html
  org/apex/public/README.md
  org/apex/public/cookie-consent-banner.js
Due: format, lint

[update] rewrite public folder..
  net/apex/wrangler.jsonc
Due: none

[update] .
  app/apex/package.json
  app/apex/public/400.html
  app/apex/public/404.html
  app/apex/public/406-unsupported-browser.html
  app/apex/public/422.html
  app/apex/public/500.html
  com/apex/package.json
  com/apex/public/400.html
  com/apex/public/404.html
  com/apex/public/406-unsupported-browser.html
  com/apex/public/422.html
  com/apex/public/500.html
  net/apex/package.json
  net/apex/public/400.html
  net/apex/public/404.html
  net/apex/public/406-unsupported-browser.html
  net/apex/public/422.html
  net/apex/public/500.html
  net/apex/src/index.tsx
  net/apex/wrangler.jsonc
  org/apex/package.json
  org/apex/public/400.html
  org/apex/public/404.html
  org/apex/public/406-unsupported-browser.html
  org/apex/public/422.html
  org/apex/public/500.html
  package.json
  pnpm-lock.yaml
Due: format, lint, typecheck

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,md}
  lint: any of: *.{js,jsx,ts,tsx}
  typecheck: any of: *.{ts,tsx}
