Repository seahal/umaxica-app-edge: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      run: docker compose run edge bun run format
      stage_fixed: true
      glob: "*.{js,jsx,ts,tsx,json,md}"
    lint:
      run: docker compose run edge bun run lint
      stage_fixed: true
      glob: "*.{js,jsx,ts,tsx}"
    typecheck:
      run: docker compose run edge bun run typecheck
      glob: "*.{ts,tsx}"
    audit:
      run: docker compose run edge bun audit
      skip:
        - merge
        - rebase

pre-push:
  parallel: true
  commands:
    test:
      run: docker compose run edge bun test

[update] ............
  CLAUDE.md
  app/src/routes/home.tsx
  app/vite.config.ts
  app/wrangler.jsonc
  com/src/routes/_index.tsx
  com/vite.config.ts
  com/wrangler.jsonc
  org/src/routes/home.tsx
  org/vite.config.ts
  org/wrangler.jsonc
Due: format, lint, typecheck

[check point] .
  app/src/routes.ts
  app/src/routes/+types/home.js
  app/src/routes/_index.tsx
  com/src/routes/_index.tsx
  org/src/routes.ts
  org/src/routes/_index.tsx
  shared/config.ts
  shared/env.ts
Due: format, lint, typecheck

[check point] ..
  app/src/svg.d.ts
Due: format, lint, typecheck

[check point] ...
  app/src/components/Header.tsx
  app/src/root.tsx
  app/src/routes/_index.tsx
  org/src/components/Header.tsx
  org/src/root.tsx
  shared/config.ts
  shared/env.ts
Due: format, lint, typecheck

[check point] ..
  app/src/components/Header.tsx
  org/src/root.tsx
Due: format, lint, typecheck

[update] .......
  app/src/app.css
  app/src/components/Header.tsx
  app/src/root.tsx
  app/src/routes.ts
  app/src/routes/about.tsx
  app/src/routes/configure.tsx
  app/src/routes/sample.tsx
  app/vite.config.ts
  com/vite.config.ts
  org/src/components/Header.tsx
  org/vite.config.ts
Due: format, lint, typecheck

[update] ........
  app/src/root.tsx
Due: format, lint, typecheck

[update] ........
  app/src/routes/+types/_index.ts
Due: format, lint, typecheck

[update] .........
  bun.lock
  package.json
Due: format

[misc] ...
  Dockerfile
  bun.lock
  package.json
Due: format

[misc] .....
  .devcontainer/devcontainer.json
  .gitignore
  Dockerfile
  bun.lock
Due: format

[misc] ......
  bun.lock
  package.json
Due: format

[misc] .......
  app/src/routes/configure.tsx
Due: format, lint, typecheck

[misc] .........
  .devcontainer/devcontainer.json
  .gitignore
  bun.lock
  compose.yml
  lefthook.yml
  org/src/routes/configure.tsx
  package.json
Due: format, lint, typecheck

remove container_name from main service in compose.yml
  compose.yml
Due: none

add bun-volume to main service in compose.yml
  compose.yml
Due: none

[test] .
  .devcontainer/devcontainer.json
  .gitignore
  Dockerfile
  bun.lock
  package.json
Due: format

[.] .
  .devcontainer/devcontainer.json
  .gitignore
  Dockerfile
  bun.lock
  compose.yml
  lefthook.yml
  package.json
Due: format

[test] .
  .devcontainer/devcontainer.json
  Dockerfile
  bun.lock
  compose.yml
  package.json
Due: format

[misc] .
  Dockerfile
  bun.lock
Due: none

fix(Header): append "(Org)" to codeName in header title
  app/src/components/Header.tsx
  app/src/routes/configure.tsx
  bun.lock
  org/src/components/Header.tsx
  org/src/routes/configure.tsx
  package.json
Due: format, lint, typecheck

[misc] ....,.
  bun.lock
  org/src/components/Header.tsx
  package.json
Due: format, lint, typecheck

[misc] set up robots.txt
  app/public/robots.txt
  com/public/robots.txt
  org/public/robots.txt
Due: none

[misc] set up robots.txt (2
  app/public/robots.txt
  com/public/robots.txt
  org/public/robots.txt
Due: none

[misc] set up robots.txt (3
  app/src/app.css
  app/src/components/Header.tsx
  app/src/root.tsx
  app/src/routes.ts
  app/vite.config.ts
  biome.json
  com/src/root.tsx
  com/vite.config.ts
  org/src/root.tsx
  org/src/routes.ts
  org/vite.config.ts
Due: format, lint, typecheck

[misc] set up robots.txt (4
  app/src/components/ErrorPage.tsx
  app/src/components/InternalServerErrorPage.tsx
  app/src/components/NotFoundPage.tsx
  app/src/routes/+types/catch-all.ts
  app/src/routes/catch-all.tsx
  org/src/components/ErrorPage.tsx
  org/src/components/InternalServerErrorPage.tsx
  org/src/components/NotFoundPage.tsx
  org/src/routes/catch-all.tsx
Due: format, lint, typecheck

[misc] set up robots.txt (5
  app/src/root.tsx
  com/src/root.tsx
  org/src/root.tsx
Due: format, lint, typecheck

Remove test helper functions, add dark and light logo SVGs, implement Welcome component with navigation, and update robots.txt for web crawlers.
  app/public/robots.txt
  app/src/components/Header.tsx
  com/public/robots.txt
  com/src/app.css
  com/src/components/ErrorPage.tsx
  com/src/components/Footer.tsx
  com/src/components/Header.tsx
  com/src/root.tsx
  com/src/routes.ts
  com/src/routes/_index.tsx
  com/src/routes/about.tsx
  com/src/routes/catch-all.tsx
  com/src/routes/configure.tsx
  com/src/routes/contact.tsx
  com/src/routes/privacy.tsx
  com/src/routes/privacy/docs.tsx
  com/src/routes/privacy/index.tsx
  com/src/routes/privacy/policy.tsx
  com/src/routes/sample.tsx
  com/src/routes/sample/index.tsx
  com/src/routes/services.tsx
  com/src/utils/error-utils.ts
  com/src/utils/test-helpers.ts
  com/src/welcome/logo-dark.svg
  com/src/welcome/logo-light.svg
  com/src/welcome/welcome.tsx
  org/public/robots.txt
Due: format, lint, typecheck

Refactor Header component imports, enhance error handling with development environment checks, and update robots.txt formatting
  app/public/robots.txt
  app/react-router-types.d.ts
  app/src/+types/root.js
  app/src/components/Header.tsx
  app/src/root.tsx
  bun.lock
  com/package.json
  com/public/robots.txt
  com/src/components/Header.tsx
  com/src/root.tsx
  org/public/robots.txt
  org/src/components/Header.tsx
  org/src/root.tsx
  package.json
  shared/meta-env.ts
Due: format, lint, typecheck

Refactor code formatting in package.json and meta-env.ts for improved readability
  com/package.json
  shared/meta-env.ts
Due: format, lint, typecheck

[.] .
  app/src/routes/configure.tsx
  bun.lock
  com/src/routes/configure.tsx
  org/src/routes/configure.tsx
  package.json
Due: format, lint, typecheck

[check] .
  app/src/components/Header.tsx
  app/src/root.tsx
  app/src/routes/InternalServerErrorPage.tsx
  app/src/routes/NotFoundPage.tsx
  app/src/routes/catch-all.tsx
  bun.lock
  package.json
Due: format, lint, typecheck

[check] l.
  .devcontainer/devcontainer.json
  .eslintrc.cjs
  AGENTS.md
  CLAUDE.md
  README.md
  app/package.json
  app/src/root.tsx
  app/src/routes.ts
  app/src/routes/_index.tsx
  app/src/routes/about.tsx
  app/src/routes/catch-all.tsx
  app/src/routes/configure.tsx
  app/src/routes/sample.tsx
  app/test-setup.ts
  app/test/domain-routing.app.test.ts
  app/test/root.loader.test.ts
  app/test/routes.manifest.test.ts
  app/test/smoke.test.ts
  app/test/welcome.component.test.tsx
  bun.lock
  bunfig.toml
  com/test/routes.manifest.test.ts
  lefthook.yml
  org/package.json
  org/test/domain-routing.org.test.ts
  org/test/routes.manifest.test.ts
  org/test/smoke.test.ts
  package.json
  test/check.test.js
  test/check.test.ts
  test/server.test.js
  test/server.test.ts
  test/utils.test.js
  test/utils.test.ts
  vitest.config.ts
Due: format, lint, typecheck

Remove Vitest setup file and update package.json to eliminate test script
  app/test-setup.ts
  package.json
Due: format, lint, typecheck

Replace Vitest imports with Bun test imports across all test files
  app/test/domain-routing.app.test.ts
  app/test/root.loader.test.ts
  app/test/routes.manifest.test.ts
  app/test/smoke.test.ts
  app/test/welcome.component.test.tsx
  com/test/routes.manifest.test.ts
  org/test/domain-routing.org.test.ts
  org/test/routes.manifest.test.ts
  org/test/smoke.test.ts
Due: format, lint, typecheck

Fix assertion in smoke test to use correct matcher
  app/test/welcome.component.test.tsx
  org/test/smoke.test.ts
Due: format, lint, typecheck

Migrate tests from Vitest to Bun and remove Vitest configuration
  test/check.test.ts
  test/server.test.ts
  test/utils.test.ts
  vitest.config.ts
Due: format, lint, typecheck

[update] ..
  app/react-router-types.d.ts
  app/src/components/Breadcrumb.tsx
  app/src/root.tsx
  app/src/routes/_index.tsx
  app/src/routes/about.tsx
  app/src/routes/catch-all.tsx
  app/src/routes/configure.tsx
  app/src/routes/sample.tsx
Due: format, lint, typecheck
