Repository seahal/umaxica-app-edge: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

format:
  run: bun run format
  stage_fixed: true

lint:
  run: bun run lint
  stage_fixed: true

typecheck:
  run: bun run typecheck

Update README.md
  README.md
Due: format

[FEATURE] deleted test/ folder.(r
  app/bunfig.toml
  app/test-setup.ts
  app/test/domain-routing.app.test.ts
  app/test/smoke.test.ts
  bun.lock
  bunfig.toml
  com/bunfig.toml
  com/test-setup.ts
  com/test/components/error-page.test.ts
  com/test/routes/loader.test.tsx
  com/test/routes/meta.test.tsx
  com/test/utils/error-utils.test.ts
  com/test/utils/test-helpers.test.ts
  org/bunfig.toml
  org/test-setup.ts
  org/test/domain-routing.org.test.ts
  org/test/smoke.test.ts
  package.json
  test/domain-routing.test.js
  test/domain-routing.test.ts
  tsconfig.json
Due: format, lint, typecheck

[misc] ..
  app/public/sample.txt
Due: none

[misc] ...
  app/public/abc.txt
  bun.lock
  package.json
Due: format

[update] security fix
  app/public/abc.txt
  app/tsconfig.cloudflare.json
  bun.lock
  com/tsconfig.cloudflare.json
  org/tsconfig.cloudflare.json
  package.json
  tsconfig.json
Due: format

[update] rewrite security.md
  .github/SECURITY.md
  bun.lock
  package.json
Due: format

[update] ..
  bun.lock
  com/src/root.tsx
  package.json
Due: format, lint, typecheck

[update] ....
  bun.lock
  package.json
Due: format

abc
  .devcontainer/devcontainer.json
  bun.lockb
Due: format

[update] fixed some files.
  .devcontainer/Dockerfile
  .devcontainer/compose.yml
  .devcontainer/devcontainer.json
  README.md
  app/vite.config.ts
  bun.lock
  com/vite.config.ts
  org/vite.config.ts
  package.json
Due: format, lint, typecheck

[downgrade] .
  .devcontainer/Dockerfile
  .devcontainer/compose.yml
  .devcontainer/devcontainer.json
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  Dockerfile
  bun.lock
  compose.yml
  package.json
Due: format

[upgrade] i added Contributing.md
  CONTRIBUTING.md
  Dockerfile
  bun.lockb
  compose.yml
Due: format

[misc] changed ci files........
  Dockerfile
  bun.lock
  compose.yml
  lefthook.yml
  package.json
Due: format

[misc] .
  bun.lock
  package.json
Due: format

.
  app/src/+types/root.ts
  app/src/root.tsx
  app/workers/app.ts
  bun.lock
  com/src/+types/root.ts
  com/src/root.tsx
  com/workers/app.ts
  org/src/+types/root.ts
  org/src/root.tsx
  org/workers/app.ts
  package.json
  shared/config.ts
  shared/security.ts
Due: format, lint, typecheck

[misc] ......
  app/react-router-types.d.ts
  com/react-router-types.d.ts
  org/react-router-types.d.ts
Due: format, lint, typecheck

[misc] .......
  app/src/root.tsx
  com/src/root.tsx
  org/src/root.tsx
Due: format, lint, typecheck

[misc] ......
  app/src/root.tsx
  com/src/root.tsx
  org/src/root.tsx
  shared/config.ts
Due: format, lint, typecheck

[update] added unmatched url page..
  bun.lock
  package.json
Due: format

[update] .
  bun.lock
  package.json
Due: format

[update] .
  app/react-router-types.d.ts
  app/src/root.tsx
  bun.lock
  com/react-router-types.d.ts
  com/src/root.tsx
  org/react-router-types.d.ts
  org/src/root.tsx
  package.json
  shared/config.ts
  shared/security.ts
Due: format, lint, typecheck

[update] ..
  bun.lock
  package.json
Due: format

[update] ...
  app/wrangler.jsonc
  bun.lock
Due: none

[update] ....
  app/wrangler.jsonc
Due: none

[update] .....
  app/wrangler.jsonc
Due: none

[update] .....
  bun.lock
Due: none

[update] ......
  app/wrangler.jsonc
  com/wrangler.jsonc
  org/wrangler.jsonc
Due: none

[update] .......
  bun.lock
  package.json
Due: format

[update] .......
  app/vite.config.ts
  app/wrangler.jsonc
  com/vite.config.ts
  com/wrangler.jsonc
  org/vite.config.ts
  org/wrangler.jsonc
  shared/config.ts
Due: format, lint, typecheck

[update] ........
  README.md
  app/.env.local
  app/.env.production.local
  app/.gitignore
  biome.json
  com/.env.local
  com/.env.production.local
  com/.gitignore
  com/react-router-types.d.ts
  org/.env.local
  org/.env.production.local
  org/.gitignore
  org/react-router-types.d.ts
  shared/config.ts
  shared/env.ts
  shared/security.ts
Due: format, lint, typecheck

[update] ........
  AGENTS.md
  app/.env.local
  app/.env.production.local
  app/src/components/Header.tsx
  app/wrangler.jsonc
  bun.lock
  com/.env.local
  com/.env.production.local
  com/.gitignore
  com/wrangler.jsonc
  org/.env.local
  org/.env.production.local
Due: format, lint, typecheck

[update] .......
  shared/config.js
  shared/config.ts
Due: format, lint, typecheck

[update] .........
  com/wrangler.jsonc
  org/wrangler.jsonc
Due: none

[update] ........
  app/src/components/Header.tsx
  app/wrangler.jsonc
  com/wrangler.jsonc
  org/wrangler.jsonc
Due: format, lint, typecheck

[update] .........
  .devcontainer/devcontainer.json
  Dockerfile
  shared/security.ts
Due: format, lint, typecheck

[update] .......
  app/src/root.tsx
  com/src/root.tsx
  org/src/root.tsx
Due: format, lint, typecheck

[update] ........
  app/src/root.tsx
  org/src/root.tsx
Due: format, lint, typecheck

[update] ..........
  app/wrangler.jsonc
  com/wrangler.jsonc
  org/wrangler.jsonc
Due: none

[update] ...........
  app/wrangler.jsonc
  com/wrangler.jsonc
  org/wrangler.jsonc
Due: none

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,md}
  lint: any of: *.{js,jsx,ts,tsx}
  typecheck: any of: *.{ts,tsx}
