Repository seahal/umaxica-app-edge: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      run: bun run format
      stage_fixed: true
      glob: "*.{js,jsx,ts,tsx,json,md}"
    lint:
      run: bun run lint
      stage_fixed: true
      glob: "*.{js,jsx,ts,tsx}"
    typecheck:
      run: bun run typecheck
      glob: "*.{ts,tsx}"
    audit:
      run: bun audit
      skip:
        - merge
        - rebase

pre-push:
  parallel: true
  commands:
    test:
      run: bun test
    build:
      run: bun run build
    cf-typegen:
      run: bun run cf-typegen

[system] update bun.
  app/package.json
  bun.lock
  com/src/routes/home.tsx
  org/src/root.tsx
  package.json
Due: format, lint, typecheck

[system] update bun.
  com/package.json
  com/test/routes/meta.test.tsx
Due: format, lint, typecheck

[learning] .
  com/src/app.css
  com/src/root.tsx
  com/src/routes.ts
  com/src/routes/home.tsx
  com/src/routes/privacy.tsx
  com/src/routes/sample.tsx
  com/src/routes/sample/index.tsx
  com/wrangler.jsonc
Due: format, lint, typecheck

[learning] .
  com/test/routes/loader.test.tsx
  com/test/routes/meta.test.tsx
Due: format, lint, typecheck

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

[learning] ..
  AGENTS.md
  bun.lock
  com/bun.lock
  com/package.json
  com/test/routes/loader.test.tsx
  package.json
Due: format, lint, typecheck

[learning] ...
  com/src/components/ErrorPage.tsx
  com/src/components/InternalServerErrorPage.tsx
  com/src/components/NotFoundPage.tsx
  com/src/root.tsx
  com/src/routes/catch-all.tsx
Due: format, lint, typecheck

[learning] ...
  app/bun.lock
  app/package.json
  bun.lock
  com/bun.lock
  com/package.json
  com/scripts/clean.mjs
  com/src/components/Footer.tsx
  com/src/components/Header.tsx
  com/src/entry.client.tsx
  com/src/root.tsx
  com/src/routes.ts
  com/src/routes/_index.tsx
  com/src/utils/test-helpers.ts
  com/src/welcome/logo-dark.svg
  com/src/welcome/logo-light.svg
  com/src/welcome/welcome.tsx
  com/test/routes/meta.test.tsx
  com/vite.config.ts
  com/wrangler.jsonc
  org/bun.lock
  org/package.json
  package.json
  test/check.test.js
  test/check.test.ts
  test/domain-routing.test.js
  test/server.test.js
  test/server.test.ts
  test/utils.test.js
Due: format, lint, typecheck

[learning] ....
  bun.lock
  com/package.json
  com/src/root.tsx
  com/src/routes/_index.tsx
  com/src/routes/about.tsx
  com/src/routes/catch-all.tsx
  com/src/routes/contact.tsx
  com/src/routes/privacy.tsx
  com/src/routes/privacy/docs.tsx
  com/src/routes/privacy/index.tsx
  com/src/routes/privacy/policy.tsx
  com/src/routes/sample.tsx
  com/src/routes/sample/index.tsx
  com/src/routes/services.tsx
  com/wrangler.jsonc
  package.json
Due: format, lint, typecheck

[update] ......
  app/src/entry.client.js
  app/src/entry.server.js
  app/src/root.js
  app/src/routes.js
  com/src/components/Header.tsx
Due: format, lint, typecheck

[update] ......
  app/bunfig.toml
  app/package.json
  app/scripts/clean.mjs
  app/test-setup.ts
  bun.lock
  com/package.json
  com/src/components/Header.tsx
  com/src/root.tsx
  com/tsconfig.cloudflare.json
  com/wrangler.jsonc
  org/bunfig.toml
  org/package.json
  org/scripts/clean.mjs
  org/test-setup.ts
  package.json
Due: format, lint, typecheck

[misc] .
  app/package.json
  app/src/components/Footer.tsx
  app/src/components/Header.tsx
  app/src/root.tsx
  app/src/routes.ts
  app/src/routes/+types/about.ts
  app/src/routes/about.tsx
  app/test-setup.ts
  app/tsconfig.cloudflare.json
  app/vite.config.ts
  app/wrangler.jsonc
  bun.lock
  com/react-router-types.d.ts
  com/src/root.tsx
  com/src/routes/_index.tsx
  com/src/routes/contact.tsx
  com/src/routes/privacy.tsx
  com/test-setup.ts
  com/tsconfig.cloudflare.json
  com/vite.config.ts
  com/workers/app.ts
  com/wrangler.jsonc
  org/package.json
  org/react-router-types.d.ts
  org/src/components/Footer.tsx
  org/src/components/Header.tsx
  org/src/root.tsx
  org/src/routes.ts
  org/src/routes/about.tsx
  org/src/routes/configure.tsx
  org/src/routes/home.tsx
  org/test-setup.ts
  org/tsconfig.cloudflare.json
  org/vite.config.ts
  org/workers/app.ts
  org/wrangler.jsonc
  package.json
  tsconfig.json
Due: format, lint, typecheck

[misc] ..
  app/src/components/Header.tsx
  app/wrangler.jsonc
  bun.lock
  com/wrangler.jsonc
  org/src/components/Header.tsx
  org/wrangler.jsonc
  package.json
Due: format, lint, typecheck

[ANALYZE] checking cloudflare's condition.
  com/src/root.tsx
Due: format, lint, typecheck

[SYSTEM] we committed to use cloudflare delivery service.
  .github/workflows/delivery.yaml
Due: none

[SYSTEM] we committed to use cloudflare delivery service.(re
  com/package.json
  com/react-router.config.ts
  com/src/components/Header.tsx
  com/src/root.tsx
  com/vite.config.ts
  com/wrangler.build.jsonc
  com/wrangler.jsonc
Due: format, lint, typecheck

[SYSTEM] we committed to use cloudflare delivery service.(re2
  com/package.json
  com/src/components/Header.tsx
  com/vite.config.ts
  com/wrangler.build.jsonc
  com/wrangler.jsonc
Due: format, lint, typecheck

[SYSTEM] we committed to use cloudflare delivery service.(re3
  com/src/components/Header.tsx
  com/wrangler.build.jsonc
Due: format, lint, typecheck

[SYSTEM] we committed to use cloudflare delivery service.(re4
  .github/workflows/delivery.yaml
  wrangler.jsonc
Due: none

[SYSTEM] we committed to use cloudflare delivery service.(re5
  com/src/components/Header.tsx
  com/wrangler.build.jsonc
Due: format, lint, typecheck

[SYSTEM] we committed to use cloudflare delivery service.(re5
  app/package.json
  bun.lock
  com/package.json
  com/react-router.config.ts
  com/vite.config.ts
  com/wrangler.jsonc
  org/package.json
  wrangler.jsonc
Due: format, lint, typecheck

[update] .
  README.md
  bun.lock
  org/wrangler.jsonc
  package.json
Due: format

[update] ..
  bun.lock
  package.json
Due: format

[fix] remove some envs.
  .dev.vars
  README.md
  app/package.json
  app/wrangler.jsonc
  bun.lock
  com/README.md
  com/package.json
  com/wrangler.jsonc
  org/README.md
  org/package.json
  org/wrangler.jsonc
  package.json
Due: format

[update] .......
  app/src/components/Header.tsx
  app/src/routes.ts
  app/src/routes/configure.js
  app/src/routes/home.js
  app/src/routes/sample.tsx
  app/vite.config.js
  app/wrangler.jsonc
  com/wrangler.jsonc
  org/src/components/Header.tsx
  org/vite.config.ts
  org/wrangler.jsonc
  wrangler.jsonc
Due: format, lint, typecheck

[update] ........
  com/scripts/clean.mjs
  com/src/components/Header.tsx
  org/src/components/Header.tsx
  org/src/routes/sample.tsx
Due: format, lint, typecheck

Update README.md
  README.md
Due: format

[bug fix] now you can use bun run dev and bun run deploy
  app/package.json
  app/react-router.config.js
  app/src/routes/about.tsx
  app/src/routes/sample.tsx
  app/vite.config.ts
  app/wrangler.jsonc
  bun.lock
  com/package.json
  com/src/root.tsx
  com/wrangler.jsonc
  org/package.json
  org/src/components/Header.tsx
  org/src/routes.ts
  org/src/routes/sample.tsx
  org/wrangler.jsonc
Due: format, lint, typecheck

[fix] some errota were fixed.
  README.md
  app/src/routes/about.tsx
  app/src/routes/sample.tsx
  org/package.json
Due: format, lint, typecheck

[fix] some errota were fixed.
  app/src/components/Header.tsx
  app/workers/app.js
  bun.lock
  com/src/components/Header.tsx
  org/src/components/Header.tsx
  package.json
Due: format, lint, typecheck

[misc] update bun.
  bun.lock
  package.json
Due: format

[misc] update bun..
  app/src/welcome/welcome.tsx
  bun.lock
  package.json
Due: format, lint, typecheck

Potential fix for code scanning alert no. 22: Incomplete URL substring sanitization
  test/domain-routing.test.ts
Due: format, lint, typecheck

[update] fixed errors.
  app/tsconfig.cloudflare.json
  app/workers/app.ts
  bun.lock
  com/tsconfig.cloudflare.json
  com/vite.config.ts
  com/workers/app.ts
  org/tsconfig.cloudflare.json
  org/workers/app.ts
  shared/config.ts
  shared/security.ts
  test/domain-routing.test.ts
Due: format, lint, typecheck

[update] fixed errors.
  app/src/welcome/welcome.js
  types/assets.d.ts
Due: format, lint, typecheck

[update] fixed errors..
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  bun.lock
  package.json
  qodana.yaml
Due: format
