Repository seahal/umaxica-app-edge: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      run: bun run format
      stage_fixed: true
      glob: "*.{js,jsx,ts,tsx,json,md}"
    lint:
      run: bun run lint
      stage_fixed: true
      glob: "*.{js,jsx,ts,tsx}"
    typecheck:
      run:  bun run type
      glob: "*.{ts,tsx}"
    audit:
      run: bun audit
      skip:
        - merge
        - rebase
    secret-scan:
      run: gitleaks protect
    Test(Bun):
      run: bun test

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

[checkpoint] trying to know how to use Secret value.
  app/src/routes/configurations/_index.tsx
  app/wrangler.jsonc
  biome.json
  com/wrangler.jsonc
  dev/src/routes/home.tsx
  org/wrangler.jsonc
Due: format, lint, typecheck

[fix] .
  app/src/routes/configurations/_index.tsx
  dev/types/bun-test.d.ts
Due: format, lint, typecheck

[PLANNING] Rename environment variable from APP_NAME to BRAND_NAME.
  app/wrangler.jsonc
  bun.lock
  com/wrangler.jsonc
  org/wrangler.jsonc
  package.json
Due: format

[update] daily update.
  bun.lock
Due: none

[update] set type information.
  .devcontainer/devcontainer.json
  bun.lock
  com/tsconfig.cloudflare.json
  org/tsconfig.cloudflare.json
Due: format

[update] renamed brand name!
  app/react-router.config.ts
  app/src/root.tsx
  app/test/root.loader.test.ts
  app/wrangler.jsonc
  bun.lock
  com/react-router.config.ts
  com/src/root.tsx
  com/wrangler.jsonc
  org/react-router.config.ts
  org/src/root.tsx
  org/wrangler.jsonc
Due: format, lint, typecheck

[update] renamed brand name! (re
  .github/README.md
  app/src/middleware.ts
  bun.lock
  com/src/middleware.ts
  dev/react-router.config.ts
  org/src/middleware.ts
Due: format, lint, typecheck

[update] .
  .devcontainer/devcontainer.json
  .github/README.md
  Dockerfile
  bun.lock
  compose.yml
  package.json
Due: format

[update] ..
  app/src/middleware.ts
  com/src/middleware.ts
  org/src/middleware.ts
Due: format, lint, typecheck

[System] install Bun to Vercel.
  dev/vercel.json
Due: format

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

[update] a lot of tests were emereged. (re
  app/src/middleware.ts
  biome.json
  com/src/middleware.ts
  com/test/components/Header.test.tsx
  com/test/components/Welcome.test.tsx
  com/test/layouts/baremetal.test.tsx
  com/test/routes/_index.test.tsx
  dev/types/bun-test.d.ts
  org/src/middleware.ts
  test/templates/component.test.template.tsx
  test/templates/integration.test.template.ts
  test/templates/layout.test.template.tsx
  test/templates/loader-action.test.template.ts
  test/templates/middleware.test.template.ts
  test/templates/route.test.template.tsx
Due: format, lint, typecheck

[degrade] fixed middleware failure.
  app/react-router.config.ts
  com/react-router.config.ts
  dev/react-router.config.ts
  org/react-router.config.ts
Due: format, lint, typecheck

[degrade] fixed bun runtile at vercel.
  dev/vercel.json
Due: format

[degrade] fixed bun runtile at vercel. (re
  dev/vercel.json
Due: format

[degrade] fixed bun runtile at vercel. (re2
  dev/vercel.json
Due: format

[system] changed workingspace at Docker env.
  .devcontainer/devcontainer.json
  .github/README.md
  Dockerfile
  bun.lock
  bunfig.toml
  compose.yml
  package.json
Due: format

[update] daily update.
  .devcontainer/devcontainer.json
  bun.lock
  compose.yml
  package.json
Due: format

Change Dependabot update interval to weekly
  .github/dependabot.yml
Due: none

[update] security update.
  app/src/middleware.ts
  com/src/middleware.ts
  org/src/middleware.ts
Due: format, lint, typecheck

[update] security update.(re
  app/src/middleware.ts
  bun.lock
  com/src/middleware.ts
  org/src/middleware.ts
Due: format, lint, typecheck

[update] security update.(re2
  app/react-router.config.ts
  bun.lock
  com/react-router.config.ts
  dev/react-router.config.ts
Due: format, lint, typecheck

[update] security update.(re3
  app/react-router.config.ts
  app/src/entry.server.tsx
  com/react-router.config.ts
  dev/react-router.config.ts
Due: format, lint, typecheck

[update] security update.(re3
  com/src/entry.server.tsx
  dev/src/entry.server.tsx
  org/src/entry.server.tsx
Due: format, lint, typecheck

[update] security update.(re4
  dev/src/entry.server.tsx
  org/src/entry.server.tsx
Due: format, lint, typecheck

[update] security update.(re5
  app/react-router.config.ts
  app/src/middleware.ts
  com/react-router.config.ts
  com/src/entry.server.tsx
  com/src/middleware.ts
  dev/react-router.config.ts
  dev/src/entry.server.tsx
  org/react-router.config.ts
  org/src/entry.server.tsx
  org/src/middleware.ts
Due: format, lint, typecheck

[update] security update.(re6
  app/src/entry.server.tsx
  com/src/entry.server.tsx
  dev/src/entry.server.tsx
  org/src/entry.server.tsx
Due: format, lint, typecheck

[update] security update.(re7
  app/src/entry.server.tsx
  app/tsconfig.cloudflare.json
  app/tsconfig.json
  app/workers/app.ts
  com/src/entry.server.tsx
  com/workers/app.ts
  dev/src/entry.server.tsx
  dev/src/root.tsx
  dev/tsconfig.json
  org/src/entry.server.tsx
  org/workers/app.ts
  test/templates/loader-action.test.template.ts
Due: format, lint, typecheck

[update] security update was complited, and fixed ci preference.
  .github/workflows/integration.yaml
Due: none

[checkpoint] take a rest.
  com/test/layouts/baremetal.test.tsx
  dev/src/entry.server.tsx
  dev/src/root.tsx
  dev/types/svg.d.ts
Due: format, lint, typecheck

.......
  .devcontainer/devcontainer.json
  app/src/components/AuthForm.tsx
  app/src/components/NewPostDialog.tsx
  app/src/components/PostCard.tsx
  app/src/components/SearchResults.tsx
  app/src/components/SettingComponents.tsx
  app/src/components/Timeline.tsx
  app/src/routes/_index.tsx
  app/src/routes/authentication/_index.tsx
  app/src/routes/configurations/_index.tsx
  app/src/routes/configurations/account.tsx
  app/src/routes/configurations/preference.tsx
  app/src/routes/search/_index.tsx
  app/test/components/AuthForm.test.ts
  app/test/components/PostCard.test.ts
  app/test/components/SearchResults.test.ts
  app/test/components/Timeline.test.ts
  bun.lock
  com/src/components/ProductCatalog.tsx
  com/src/routes/_index.tsx
  com/test/components/ProductCatalog.logic.test.ts
  com/test/components/ProductCatalog.test.ts
  com/test/routes/_index.test.tsx
  dev/src/components/DocsViewer.tsx
  dev/src/routes/home.tsx
  dev/test/components/DocsViewer.test.ts
  org/src/components/EventList.tsx
  org/src/routes/_index.tsx
  org/test/components/EventList.test.ts
  package.json
Due: format, lint, typecheck

[misc] .
  app/test/components/Footer.test.tsx
  com/src/components/Header.tsx
  com/src/routes.ts
  com/src/routes/_index.tsx
  com/src/routes/explore/_index.tsx
  com/test/components/Header.test.tsx
  com/test/routes.manifest.test.ts
  com/test/routes/_index.test.tsx
  compose.yml
  dev/src/+types/root.ts
  dev/src/entry.server.tsx
  dev/src/root.tsx
  dev/test/components/DocsViewer.test.ts
  dev/test/root.loader.test.ts
  org/src/layouts/decorated.tsx
  org/test/components/EventList.test.ts
  test/setup-happy-dom.ts
Due: format, lint, typecheck

[misc] ...
  app/src/components/Footer.tsx
  bun.lock
  com/src/components/Footer.tsx
  dev/src/components/Footer.tsx
  dev/src/components/Header.tsx
  org/src/components/Footer.tsx
  package.json
  test/setup-happy-dom.ts
Due: format, lint, typecheck

[checkpoint] ...
  com/src/components/Footer.tsx
  dev/src/components/Footer.tsx
  dev/src/routes/healths/_index.tsx
  org/src/components/Footer.tsx
Due: format, lint, typecheck

[misc] ..
  bun.lock
Due: none

[misc] .
  dev/src/root.tsx
  dev/src/routes/healths/_index.tsx
  package.json
Due: format, lint, typecheck

[trying] adding new tests to this repo.
  app/test-setup.ts
  app/test/components/AuthForm.test.ts
  app/test/components/AuthForm.test.tsx
  app/test/components/ErrorPage.test.tsx
  app/test/components/Footer.test.tsx
  app/test/components/Header.test.ts
  app/test/components/Header.test.tsx
  app/test/components/NewPostDialog.test.tsx
  app/test/components/PostCard.test.ts
  app/test/components/PostCard.test.tsx
  app/test/components/SearchResults.test.ts
  app/test/components/SearchResults.test.tsx
  app/test/components/SettingComponents.test.tsx
  app/test/components/Timeline.test.ts
  app/test/components/Timeline.test.tsx
  app/test/entry.client.test.tsx
  app/test/entry.server.test.tsx
  app/test/layouts/baremetal.test.tsx
  app/test/routes/catch-all.test.tsx
  app/test/routes/error-pages.test.tsx
  app/test/welcome.test.tsx
Due: format, lint, typecheck
